.dropdown {
  width: 100%;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  &_room {
    max-width: 266px;
  }
  &_guests {
    max-width: 320px;
  }
  &__select-container {
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding: 9.4px 44px 9.4px 14px;
    display: inline-flex;
    align-items: center;
    position: relative;

    &_default {
      border: 1px solid $dark-25;
      border-radius: 4px;
      &:hover {
        border: 1px solid $dark-50;
      }
    }
    &_open {
      border: 1px solid $dark-50;
      border-radius: 4px 4px 0px 0px;
    }
  }
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend %body-font;
  }

  &__material-icons {
    @extend %mat-icons;
    position: absolute;
    top: 10px;
    right: 10px;
    &_default {
      color: $dark-50;
    }
    &_open {
      color: $dark-75;
    }
  }

  &__select-list {
    &_default {
      display: none;
    }
    &_open {
      width: 100%;
      position: absolute;
      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid $dark-50;
      border-top: none;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 10px 20px $dark-05;
      padding: 6px;
      padding-left: 14px;
      padding-bottom: 10px;
      z-index: 10;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    &_count {
      max-width: 92px;
      min-width: 91px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-shrink: 0;
      align-items: center;
      @extend %h3-font;
    }

    &_margin {
      margin-top: 6px;
      margin-bottom: 8px;
    }
    &_name {
      @extend %h3-font;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-button {
      padding: 3.2px 11px;
      flex-shrink: 0;
      max-width: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @extend %body-font;
      font-size: 18px;
      line-height: 22px;
      color: $dark-50;
      border: 1px solid $dark-25;
      border-radius: 22px;
      box-sizing: border-box;

      &_hidden {
        opacity: 0.38;
      }
    }
    &-score {
      box-sizing: border-box;
      margin-left: 10px * 100%/ 92px;
      margin-right: 10px * 100%/ 92px;
    }
  }
  &__buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
  }
  &__clear-button {
    &_hidden {
      opacity: 0;
    }
  }
  &__apply-button {
    padding: 0;
  }
}
