// main styles
.dropdown {
  height: 44px;
  cursor: pointer;

  &-guests {
    width: 320px;
  }
  &_size-s {
    width: 266px;
  }
  &__select-container {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding: 12px 44px 12px 14px;
    display: inline-flex;
    align-items: center;
    position: relative;

    &_default {
      border: 1px solid $dark-25;
      border-radius: 4px;
      &:hover {
        border: 1px solid $dark-50;
      }
    }

    &_open {
      border: 1px solid $dark-50;
      border-radius: 4px 4px 0px 0px;
    }
  }
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    &_default {
      @extend %body-font;
    }
    &_open {
      @extend %body-font;
      line-height: 129%;
    }
  }

  &__material-icons {
    @extend %mat-icons;
    position: absolute;
    &_margin {
      top: 6.8px;
      right: 7.6px;
    }
    &_default {
      color: $dark-50;
    }
    &_open {
      color: $dark-75;
    }
  }

  &__select-list {
    &_default {
      display: none;
    }
    &_open {
      width: 100%;

      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid $dark-50;
      border-top: none;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 10px 20px $dark-05;
      padding: 6px;
      padding-bottom: 13px;
      position: relative;
      z-index: 10;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-left: 8px;

    &-count {
      width: 92px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-shrink: 0;
      align-items: center;
      @extend %h3-font;
    }
    &_two {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    &-name {
      @extend %h3-font;
      flex-shrink: 0;
    }
  }
  &__buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
  }
  &__clear-button_hidden {
    opacity: 0;
  }
  &__apply-button {
    padding: 0;
  }
}

// styles for .item-count
.item-count {
  &__button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &_hidden {
      opacity: 0.38;
    }
  }
  &__score {
    box-sizing: border-box;
  }
}
.dropdown__item-count > .item-count__button {
  @extend %body-font;
  font-size: 18px;
  line-height: 22px;
  color: $dark-50;
  border: 1px solid $dark-25;
  border-radius: 22px;
  box-sizing: border-box;
}
