include ../buttons/buttons

mixin dropdown(guests = true)
    if guests
        form&attributes(attributes)
            .dropdown   
                .dropdown__select-container.dropdown__select-container_default
                    span.dropdown__placeholder.dropdown__placeholder_default Сколько гостей
                    +button('only-text-default','expand_more','dropdown__material-icons dropdown__material-icons_default') 
                .dropdown__select-list.dropdown__select-list_open
                    .dropdown__item.dropdown__item_one
                        .dropdown__item-name Взрослые
                        .dropdown__item-count
                            .item-count__min.item-count__min_hidden
                                +button('only-text-default','-', 'item-count__button')
                            .item-count__score 0
                            .item-count__plus
                                +button('only-text-default','+', 'item-count__button')
                    .dropdown__item.dropdown__item_two
                        .dropdown__item-name Дети
                        .dropdown__item-count
                            .item-count__min.item-count__min_hidden
                                +button('only-text-default','-', 'item-count__button')
                            .item-count__score 0
                            .item-count__plus
                               +button('only-text-default','+', 'item-count__button')
                    .dropdown__item.dropdown__item_three
                        .dropdown__item-name Младенцы
                        .dropdown__item-count
                            .item-count__min.item-count__min_hidden
                                +button('only-text-default','-', 'item-count__button')
                            .item-count__score 0
                            .item-count__plus
                                +button('only-text-default','+', 'item-count__button')
                    .dropdown__buttons
                        +button('only-text-default','Очистить', 'dropdown-clear dropdown_hidden')
                        +button('only-text-colored','Применить', 'dropdown-apply')
                        

                    