extends  /layout/ui-kit/ui-kit
include /components/colors/colors
include /components/text-types/text-types

block head
  title Colors&Types

block body
    .colors-types.content-block__colors-types
      - const {colors} = require('./colors-types.json')
      .color-block.colors-types__color-block
        +colors(colors)  
      +text-types.colors-types__text-types
            