.colors-types {
  &__container {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    box-sizing: border-box;

    padding-top: 67px * 100%/ 1440px;
    padding-left: 152px * 100%/ 1440px;
    padding-right: 191px * 100%/ 1440px;
    padding-bottom: 125px * 100%/ 1440px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &_margin {
      margin-right: 432px * 100%/ 1099px;
    }
  }
}

@media (min-width: 481px) and (max-width: 961px) {
  .colors-types {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__content {
      &_margin {
        margin-bottom: 60px;
      }
    }
  }
}

@media (max-width: 480px) {
  .colors-types {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px * 100%/ 1440px;
    }
    &__content {
      &_margin {
        margin-bottom: 60px;
      }
    }
  }
}
