extends /layout/uikit/uikit
include /components/colors/colors
include /components/sample-text/sample-text

block head 
    title Colors&Types
block body
    .container
        .container__content
            +colors('dark-100','Dark Shade 100%','#1F2041')
            +colors('dark-75','Dark Shade 75%','#1F2041')
            +colors('dark-50','Dark Shade 50%','#1F2041')
            +colors('dark-25','Dark Shade 25%','#1F2041')
            +colors('dark-05', 'Dark Shade 5%','#1F2041')
            +colors('color-one', 'Purple','#BC9CFF')
            +colors('color-two', 'Green','#6FCF97')
        .container__content
            +sample-text