.room-details {
  @include flex-and-height;
  &__gallery {
    display: flex;
    flex-direction: row;
    &-item {
      width: 100%;
      margin: 0;
      &_size {
        &_large {
          width: 68%;
          display: flex;
        }
      }
    }
  }
  &__gallery-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__image {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    @include page-settings;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 712px;
    padding-top: 70px;
    padding-bottom: 63px;
    margin-right: 54px;
    & > :first-child {
      margin-bottom: 15px;
    }
    & > :nth-child(2) {
      margin-bottom: 34px;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__bonus-icon-container {
    width: 100%;
    max-width: 360px;
    & > :first-child {
      margin-bottom: 22px;
    }
    & > :nth-child(3) {
      margin-top: 22px;
      margin-bottom: 20px;
    }
  }

  &__donut-chart-container {
    & > :first-child {
      margin-bottom: 23px;
    }
  }
  &__comments-container {
    & > :nth-child(2) {
      margin-bottom: 26px;
    }
  }
  &__container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  &__title {
    @extend %h2-font;
    margin-bottom: 20px;
    &_margin-b-23 {
      margin-bottom: 23px;
    }
  }
  &__text {
    @extend %body-font;
    &_theme {
      &_small-font {
        line-height: 16px;
        color: $dark-50;
        padding-top: 7px;
        padding-left: 2px;
      }
    }
  }
  &__bullet-list-container {
    width: 100%;
    max-width: 360px;
    & > :first-child {
      padding-left: 20px;
    }
  }
  &__text-container {
    width: 100%;
    max-width: 341px;
  }

  &__sidebar {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  &__card {
    position: sticky;
    top: 70px;
    bottom: 70px;
  }

  &__line {
    border-top: 1px solid $dark-25;
    width: 100%;
  }
  &__footer {
    &-block {
      margin-top: auto;
    }
    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@include bp-1024 {
  .room-details {
    &__gallery {
      &-block {
        display: none;
      }
      &-item {
        &_size {
          &_large {
            width: 100%;
          }
        }
      }
    }
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__column {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@include bp-768 {
  .room-details {
    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}

@include bp-480 {
  .room-details {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    &__icon-list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &__donut-chart-container {
      margin-bottom: 20px;
    }
    &__text {
      &_theme {
        &_small-font {
          display: none;
        }
      }
    }
    &__bullet-list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &__text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &__sidebar {
      margin-top: 0px;
    }
  }
}
