.room-details {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    &-item {
      width: 100%;
      max-height: 485px;
      margin: 0;
    }
  }
  &__image {
    display: flex;
    width: 100%;
    &_big {
      height: 101%;
    }
  }
  &__block {
    display: flex;
    width: 100%;
    &_column {
      flex-direction: column;
    }
    &_row {
      flex-direction: row;
      justify-content: space-between;
    }
    &_width-459 {
      max-width: 459px * 100%/ 1440px;
    }
    &_width-1200 {
      max-width: 1200px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &_width-712 {
      max-width: 712px * 100%/ 1160px;
      padding-top: 70px;
      padding-bottom: 62px;
      margin-right: 54px;
    }
    &_width-380 {
      max-width: 380px * 100%/ 1160px;
    }
    &_margin-b-15 {
      margin-bottom: 15px;
    }
    &_margin-b-35 {
      margin-bottom: 35px;
    }
  }
  &__container {
    width: 100%;
    &_margin-r-10 {
      margin-right: 10px;
    }
    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &_relative {
      position: relative;
      width: 100%;
      margin-top: 70px;
      margin-bottom: 70px;
    }
    &_width-341 {
      max-width: 341px;
      margin-right: 10px;
    }
    &_width-292 {
      max-width: 292px;
    }
  }
  &__title {
    @extend %h2-font;
    margin-bottom: 20px;
    &_margin-b-23 {
      margin-bottom: 23px;
    }
    &_padding-l {
      padding-left: 20px;
    }
  }
  &__icon-list {
    width: 100%;
    max-width: 280px;
    &_margin {
      margin-top: 23px;
      margin-bottom: 23px;
    }
  }
  &__chart {
    justify-content: flex-start;
  }
  &__text {
    @extend %body-font;

    &_item {
      line-height: 16px;
      color: $dark-50;
      padding-top: 7px;
      padding-left: 2px;
    }
  }
  &__comment {
    &_margin {
      margin-bottom: 26px;
    }
  }
  &__card {
    position: sticky;
    top: 70px;
    bottom: 70px;
  }
  &__line {
    border-top: 1px solid $dark-25;
    width: 100%;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}

@media (max-width: 961px) {
  .room-details {
    &__block {
      &_width-1200 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &_width-712 {
        width: 100%;
        max-width: 712px;
        margin-right: 0px;
      }
      &_width-380 {
        max-width: 380px;
      }
    }
  }
}

@media (max-width: 769px) {
  .room-details {
    &__footer {
      &_small {
        display: block;
      }
    }
  }
}

@media (max-width: 481px) {
  .room-details {
    &__block {
      &_row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      &_width-459 {
        display: none;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      &_margin-r-10 {
        margin-right: 0px;
      }
      &_relative {
        margin-top: 0px;
        margin-bottom: 70px;
      }
      &-info {
        align-items: center;
        justify-content: center;
      }
    }
    &__title {
      &_padding-l {
        padding-left: 0px;
      }
    }
    &__text {
      &_item {
        display: none;
      }
    }
    &__card {
      position: relative;
      top: 0;
      bottom: 0;
    }
  }
}
