include /components/logo/logo-gray/logo-gray

- var color = grey

block settings
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
        body.ui-kit&attributes(attributes)
            header.ui-kit__header.header
              +logo-gray.header__logo-gray
            main.ui-kit__ui-kit__content.ui-kit__content
              block body