.pagination {
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    @extend %body-font;
    margin-top: 8px;
    margin-left: 4px;
    cursor: default;
  }
}

//old default styles
ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  display: block;
  overflow: hidden;
  margin: 0;
}

.simple-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.simple-pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
}

//new styles

.simple-pagination {
  width: 241px;
}
.disabled-prev {
  display: none;
}
.activePagination > .current {
  @extend %h3-font;
  color: #ffffff;
  display: inline-block;
}

.simple-pagination ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.simple-pagination li {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.activePagination {
  @extend %primary-grad;
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.page-link {
  @extend %h3-font;
  color: $dark-50;
  font-weight: normal;
  text-decoration: none;
}
.ellipse {
  @extend %h3-font;
  color: $dark-50;
  font-weight: normal;
}
.next {
  width: 40px;
  height: 40px;
  @extend %secondary-grad;
  color: #ffffff;
  @extend %mat-icons;
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
