include /components/links/links
include /components/logo/logo-colored/logo-colored
include /components/buttons/buttons
mixin header(userName=false, bigMargin=false)
    .header&attributes(attributes)
        if bigMargin
            +logo-colored.header__logo-colored(class='header__logo-colored_lg-margin')
        else 
            +logo-colored.header__logo-colored(class = 'header__logo-colored_s-margin')
        .header__link-list
            +link('О нас').header__link-item.header__link-item_active
            +link('Услуги',true).header__link-item.header__link-item_disable
            +link('Вакансии').header__link-item.header__link-item_disable
            +link('Новости').header__link-item.header__link-item_disable
            +link('Соглашения',true).header__link-item.header__link-item_disable
        if userName 
            .header__user-info
                .header__vert-block
                .header__user-name  Юлий Цезарь
        else 
            .header__buttons
                +button('header','bg-w','Войти')
                +button('header','bg-lin-gr', 'Зарегестрироваться')

