include /components/links/links
include /components/logo/logo-colored/logo-colored
include /components/buttons/buttons
mixin header(userName=false, bigMargin=false)
    header.header&attributes(attributes)
        .header__container
            if bigMargin
                +logo-colored.header__logo-colored(class='header__logo-colored_lg-margin')
            else 
                +logo-colored.header__logo-colored(class = 'header__logo-colored_s-margin')
            .header__link-list
                +link('О нас',false,true).header__link-item
                +link('Услуги',true).header__link-item
                +link('Вакансии').header__link-item
                +link('Новости').header__link-item
                +link('Соглашения',true).header__link-item
            if userName 
                .header__user-info
                    .header__vert-block
                    .header__user-name  Юлий Цезарь
            else 
                .header__buttons
                    +button('border-primary-grad','Войти','header__item-btn').header__button
                    +button('bg-primary-grad','Зарегестрироваться','header__item-btn').header__button

