.header {
  @extend %shadow-bg;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;

  &__container {
    max-width: 1160px;
    margin-left: -unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  &__logo-colored_s-margin {
    margin-right: 284.31px * 100%/1160px;
    flex-shrink: 0;
  }
  &__logo-colored_lg-margin {
    margin-right: 466.31px * 100%/1160px;
    flex-shrink: 0;
  }
  &__link-list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  &__link-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
  &__button-block {
    margin-right: 22px;
  }
  &__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__vert-block {
    height: 30px;
    width: 1px;
    background-color: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }
  &__user-name {
    @extend %body-font;
    color: $dark-50;
    flex-shrink: 0;
    cursor: default;
  }
}

.header__button > .header__item-btn {
  height: 34px;
  margin-right: 20px;
}
