.header {
  width: 100%;
  display: flex;
  padding: 15px 0px;
  box-sizing: border-box;
  @extend %shadow-bg-secondary;

  &__container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  &__logo {
    display: flex;
  }
  &__burger-menu {
    display: none;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link-list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  &__link-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    max-height: 33px;
    &_margin {
      margin-right: 18px;
    }
  }
  &__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__vert-block {
    height: 30px;
    width: 1px;
    background-color: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }
  &__user-name {
    @extend %body-font;
    color: $dark-50;
    flex-shrink: 0;
    cursor: default;
  }
}

/*

<------------ @media 481px -- 960px  ---------->

*/

@media (min-width: 481px) and (max-width: 960px) {
  .header {
    position: relative;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__burger-menu {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      &:hover * {
        background-color: $color-one;
        @include bg-color-animation;
      }

      &::before {
        content: "";
        background-color: $dark-75;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
      }

      &::after {
        content: "";
        background-color: $dark-75;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
      }
      &:hover::before {
        background-color: $color-one;
        @include bg-color-animation;
      }
      &:hover::after {
        background-color: $color-one;
        @include bg-color-animation;
      }
    }
    &__burger-span {
      background-color: $dark-75;
      position: absolute;
      left: 0;
      top: 9px;
      width: 100%;
      height: 3px;
      border-radius: 10px;
    }
    &__menu {
      display: none;
      &_open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 100;

        background-color: #ffffff;
        box-shadow: inset 0px 5px 15px rgba(31, 32, 65, 0.1);
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px;
      }
    }
    &__link-list {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__link-item {
      margin-bottom: 10px;
    }
    &__buttons {
      max-width: 44px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__button {
      min-height: 44px;
      &_margin {
        margin-right: 40px;
      }
    }

    .header__link-list > .header__link-item {
      font-weight: bold;
      font-size: 1.188rem;
      line-height: 1.5rem;
    }
    &__user-info {
      width: 200px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &__user-name {
      font-size: 18px;
      margin-left: 20px;
      margin-top: 10px;
    }
    &__vert-block {
      width: 200px;
      height: 1px;
      order: -1;
      margin: 0;
    }
  }
}

/*

<------------ @media 480px ---------->

*/

@media (max-width: 480px) {
  .header {
    position: relative;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__burger-menu {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      &:hover * {
        background-color: $color-one;
        @include bg-color-animation;
      }
      &::before {
        content: "";
        background-color: $dark-75;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
      }
      &::after {
        content: "";
        background-color: $dark-75;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
      }
      &:hover::before {
        background-color: $color-one;
        @include bg-color-animation;
      }
      &:hover::after {
        background-color: $color-one;
        @include bg-color-animation;
      }
    }
    &__burger-span {
      background-color: $dark-75;
      position: absolute;
      left: 0;
      top: 9px;
      width: 100%;
      height: 3px;
      border-radius: 10px;
    }
    &__menu {
      display: none;
      &_open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 100;

        background-color: #ffffff;
        box-shadow: inset 0px 5px 15px rgba(31, 32, 65, 0.1);
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px;
      }
    }
    &__link-list {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__link-item {
      margin-bottom: 10px;
    }

    &__button {
      min-height: 44px;
      width: 100%;
      &_margin {
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    &__buttons {
      width: 100%;
      flex-direction: column;
    }
    .header__link-list > .header__link-item {
      font-weight: bold;
      font-size: 1.188rem;
      line-height: 1.5rem;
    }
    &__user-info {
      width: 200px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &__user-name {
      font-size: 18px;
      margin-left: 20px;
      margin-top: 10px;
    }
    &__vert-block {
      width: 200px;
      height: 1px;
      order: -1;
      margin: 0;
    }
  }
}
