include /components/links/links
include /components/logo/logo-colored/logo-colored
include /components/buttons/buttons

mixin header(userName=false, bigMargin=false)
    header.header&attributes(attributes)
        .header__container
            if bigMargin
                .header__logo.header__logo_margin-lg
                    +logo-colored.header__logo-colored
            else 
                .header__logo.header__logo_margin-s
                    +logo-colored.header__logo-colored
            .header__burger-menu
                span.header__burger-span
            nav.header__menu
                .header__link-list
                    +link('active','О нас').header__link-item
                    +link('materialIcons','Услуги').header__link-item
                    +link('default','Вакансии').header__link-item
                    +link('default','Новости').header__link-item
                    +link('materialIcons','Соглашения').header__link-item
                if userName 
                    .header__user-info
                        .header__vert-block
                        .header__user-name  Юлий Цезарь
                else 
                    .header__buttons
                        +button('border-primary-grad','Войти').header__button.header__button_margin
                        +button('bg-primary-grad','Зарегистрироваться').header__button

