include /components/links/links
include /components/logo/logo-colored/logo-colored
include /components/buttons/buttons

mixin header(userName=false)
    header.header&attributes(attributes)
        .header__container
            .header__logo
                +logo-colored.header__logo-colored
            .header__burger-menu
                .header__block.header__block_menu.header__block_active
                    i.header__material-icons menu
                .header__block.header__block_close
                    i.header__material-icons close
            nav.header__menu
                .header__link-list
                    +link('active','О нас').header__link-item
                    +link('materialIcons','Услуги').header__link-item
                    +link('default','Вакансии').header__link-item
                    +link('default','Новости').header__link-item
                    +link('materialIcons','Соглашения').header__link-item
                if userName 
                    .header__user-info
                        .header__vert-block
                        .header__user-name  Юлий Цезарь
                else 
                    .header__buttons
                        +button('border-primary-grad button_theme-border-primary-grad_padding-s','Войти').header__button.header__button_margin
                        +button('bg-primary-grad button_theme-bg-primary-grad_padding-m','Зарегистрироваться').header__button

