@import "./link/link.scss";
@import "./logo/logo.scss";
@import "./user-info/user-info.scss";
.nav-bar-two {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-left: 140px * 100%/1440px;
  padding-right: 140px * 100%/1440px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Montserrat";

  margin-top: 40px;
}
