@import '../../library/air-datapicker/air-datapicker.scss';

.dropdown-date {
  &__container_range {
    display: flex;
    flex-direction: row;
  }
  &_filter {
    max-width: 266px;
    flex-shrink: 0;
  }
  &__description {
    margin-bottom: 5px;
  }
  &__block {
    position: relative;
    &_margin {
      margin-right: 20px;
    }
    &_wrapper {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      //flex-shrink: 0;
      width: 100%;
      cursor: pointer;
    }
    &::before {
      content: 'expand_more';
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %mat-icons;
      color: $dark-50;
      position: absolute;
      right: 0px;
      top: 2px;
    }
  }
  &__input {
    width: 100%;
    @extend %body-font;
    box-sizing: border-box;
    padding: 9.2px 44px 9.2px 15px;
    outline: none;
    background: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 4px;
    cursor: pointer;

    &::placeholder {
      color: $dark-75;
    }
    &::-webkit-input-placeholder {
      color: $dark-75;
    }
    &::-moz-placeholder {
      color: $dark-75;
      opacity: 1;
    }

    &_s-150 {
      max-width: 150px;
      display: flex;
    }
    &:hover {
      border: 1px solid $dark-50;
      &::placeholder {
        color: $dark-75;
      }
      &::-webkit-input-placeholder {
        color: $dark-75;
      }
      &::-moz-placeholder {
        color: $dark-75;
        opacity: 1;
      }
    }
    &:focus {
      border: 1px solid $dark-50;
      color: $dark-75;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
      &::-webkit-input-placeholder {
        color: $dark-75;
      }
      &::-moz-placeholder {
        color: $dark-75;
        opacity: 1;
      }
    }
  }
}
