
mixin dropdown_date(placeholder,filter = false)
    if filter
        form.dropdown-date&attributes(attributes)
            label.dropdown-date__label
            input(type='text' placeholder=placeholder class='dropdown-date__input dropdown-date__input_filter datepicker-here')
    else
        form.dropdown-date&attributes(attributes)
            label.dropdown-date__label
            input(type='text' placeholder=placeholder class='dropdown-date__input datepicker-here')
