@import "../../library/air-datapicker/air-datapicker.scss";

.dropdown-date {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
  &__description {
    margin-bottom: 5px;
  }
  &__label {
    display: flex;
    flex-direction: row;
  }
  &_filter {
    width: 266px;
    flex-shrink: 0;
  }
  &__block {
    position: relative;
    &_margin {
      margin-right: 20px;
    }
    &_hidden {
      display: none;
    }
  }
  &__input {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 15px;
    outline: none;
    background: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 4px;

    cursor: pointer;

    &_double {
      max-width: 150px;
    }
  }
  &__material-icon {
    @extend %mat-icons;
    position: absolute;
    color: $dark-50;
    &_margin-m {
      top: 28px;
      right: 8px;
    }
    &_margin-s {
      top: 28px;
      left: 118px;
    }
  }
}

.dropdown-date {
  &__input:focus {
    border: 1px solid $dark-50;
    color: $dark-75;
    outline: none;

    &::placeholder {
      color: $dark-75;
    }
    &::-webkit-input-placeholder {
      color: $dark-75;
    }
    &::-moz-placeholder {
      color: $dark-75;
      opacity: 1;
    }
  }
}

.dropdown-date {
  &__input {
    &::placeholder {
      color: $dark-75;
    }
    &::-webkit-input-placeholder {
      color: $dark-75;
    }
    &::-moz-placeholder {
      color: $dark-75;
      opacity: 1;
    }
  }
}

.dropdown-date {
  &__input:hover {
    border: 1px solid $dark-50;
    &::placeholder {
      color: $dark-75;
    }
    &::-webkit-input-placeholder {
      color: $dark-75;
    }
    &::-moz-placeholder {
      color: $dark-75;
      opacity: 1;
    }
  }
}
