.dropdown-date {
  &__wrapper {
    display: flex;
    flex-direction: row;
    & > :nth-child(1) {
      margin-right: 20px;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
  }
  &__label {
    width: 100%;
    @extend %h3-font;
    position: relative;
    &::before {
      content: 'expand_more';
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %mat-icons;
      color: $dark-50;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  &__input {
    width: 100%;
    @extend %body-font;
    padding: 9.2px 44px 9.2px 15px;
    outline: none;
    background: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    &_size {
      &_small {
        width: 100%;
        max-width: 150px;
      }
    }
    &::placeholder {
      color: $dark-75;
    }
    &:hover {
      border: 1px solid $dark-50;
      &::placeholder {
        color: $dark-75;
      }
    }

    &:focus {
      border: 1px solid $dark-50;
      color: $dark-75;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
    }
  }
}

/* -------------------------------------------------
      Datepicker cells
     ------------------------------------------------- */
.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 1;

  @extend %h3-font;
  font-weight: normal;
  color: $dark-50;
}
.datepicker--cell.-focus- {
  color: #fff;
  border: none;
  @extend %primary-grad;
  font-weight: bold;
  border-radius: 50%;
}
.datepicker--cell.-current- {
  @extend %secondary-grad;
  border-radius: 22px;
  font-weight: bold;
  color: #fff;
}
.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}
.datepicker--cell.-current-.-in-range- {
  color: #4eb5e6;
  background: rgba(188, 156, 255, 0.2);
}
.datepicker--cell.-in-range- {
  color: $dark-50;
  background-color: rgba(188, 156, 255, 0.2);
  border-radius: 0;
}
.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(188, 156, 255, 0.2);
  border-radius: 50%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 156, 255, 0.2);
    position: absolute;
    z-index: -1;
  }
}
.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}
.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}
.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-range-from- {
  position: relative;
  color: #fff;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 156, 255, 0.2);
    position: absolute;
    right: 0;
    border-radius: 22px 0px 0px 22px;
    z-index: -1;
  }
}
.datepicker--cell.-range-to- {
  position: relative;
  color: #fff;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 156, 255, 0.2);
    position: absolute;
    left: 0;
    border-radius: 0px 22px 22px 0px;
    color: #fff;
    z-index: -1;
  }
}
.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}
.datepicker--cell.-selected- {
  color: #fff;
  border: none;
  @extend %primary-grad;
  font-weight: bold;
  border-radius: 50%;
}
.datepicker--cell.-selected-.-current- {
  color: #fff;
  @extend %primary-grad;
}
.datepicker--cell.-selected-.-focus- {
  color: #aeaeae;
}
.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--day-name {
  @extend %h3-font;
  text-transform: none;
  color: $color-one;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--years {
  height: 170px;
}

.datepicker--cells-years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

/* -------------------------------------------------
          Datepicker
         ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}
@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  background: #fff;
  border: 1px solid $dark-25;
  box-shadow: 0 10px 20px $dark-05;
  border-radius: 4px;
  max-width: 320px;
  min-width: 320px;
  padding: 17px 19px 19px 20px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s,
    -webkit-transform 0.3s ease;
  z-index: 100;
}
.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s,
    -webkit-transform 0.3s ease;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--content {
  padding-left: 2px;
  padding-top: 6px;
  padding-bottom: 21px;
}
.-only-timepicker- .datepicker--content {
  display: none;
}

.datepicker--body {
  display: none;
}
.datepicker--body.active {
  display: block;
}

/* -------------------------------------------------
          Navigation
         ------------------------------------------------- */
.datepicker--nav {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}
.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  user-select: none;
  align-self: flex-start;
  padding-top: 3px;
}
.material--icon {
  @extend %mat-icons;
  flex-shrink: 0;
  color: $color-one;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}
.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}
.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  @extend %h2-font;
  padding-right: 8px;
  padding-left: 10px;
  max-width: 100px;
  text-align: center;
  line-height: 1.786rem;
}

/* -------------------------------------------------
         Buttons
         ------------------------------------------------- */
.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker--button {
  @extend %h3-font;
  cursor: pointer;
  border-radius: 4px;
  flex: 0;
  display: inline-flex;
  color: $color-one;
}
