
mixin dropdown_date(placeholder1,filter = false,placeholder2)
    if filter
        form.dropdown-date&attributes(attributes)
            label.dropdown-date__label
            input(type='text' placeholder=placeholder1 class='dropdown-date__input dropdown-date__input_filter datepicker-here')
    else
        form.dropdown-date&attributes(attributes)
            label.dropdown-date__label
            input(type='text' placeholder=placeholder1 id='start' class='dropdown-date__input')
            label.dropdown-date__label
            input(type='text' placeholder=placeholder2 id='end' class='dropdown-date__input')
