
mixin dropdown_date(placeholder)
    form.dropdown-date&attributes(attributes)
        label.dropdown-date__label
        input(type='text' placeholder=placeholder class='dropdown-date__input datepicker-here')
