mixin radio({name,text, margin=true, checked = false})
  .radio&attributes(attributes)
    label(class='radio__label' class= margin? 'radio__label_margin' : '') #{text}
      input(type="radio" name=name class='radio__input' checked=checked)
      span.radio__mark
        