include ../../../components/buttons/buttons

mixin sign-in-card
    .sign-in-card&attributes(attributes)
        p.sign-in-card__title Войти
        form.sign-in-card__form
            .sign-in-card__block.sign-in-card__block_column
                .sign-in-card__block_margin-b-10
                    -//+field('text','Email')
                .sign-in-card__block_margin-b-20
                    -//+field('password', 'Пароль')
                .sign-in-card__block.sign-in-card__block_margin-b-30
                    +button('long','войти')
            .sign-in-card__block.sign-in-card__block_row
                p.sign-in-card__text Нет аккаунта на Toxin?
                +button('border-primary-grad button_theme-border-primary-grad_padding-lg','создать')