mixin rate-button(rating)
  - let ratingCount = 0;

  .rate-button
    while (ratingCount < 5)
      if ratingCount < rating
        span.rate-button__item star
        - ratingCount++;
      else
        span.rate-button__item star_border
        - ratingCount++;
