.rate-button {
  &__item {
    display: inline-block;
    @extend %mat-icons;
    font-size: 1.714rem;
    line-height: 1.429rem;
    @extend %primary-grad;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
