
doctype html
html
    head
        meta(charset="UTF-8")
        title Headers&Footers
        link(rel='stylesheet' href='style.css')
    body.page
        include main-logo/main_logo.pug
        include nav-bar-one/nav-bar-one.pug
        include nav-bar-two/nav-bar-two.pug
        include footer-widgets-and-copyright-bar/main-footer-and-copiryght.pug
        include footer-creative/footer-creative.pug

