@import "./StandartNavBarone/nav-bar-one.scss";
@import "./font/montserrat-regular.scss";
@import "./font/material-icon-font.scss";
@import "./font/montserrat-bold.scss";
.page {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  &__main-logo {
    margin-left: 30px;
    margin-bottom: 62px;
  }
}
