.landing {
  @include flexAndHeight;
  &__content {
    width: 100%;
    @include addBackgroundImage('bg-image-1.jpg');
    @include image-animation;
  }
  &__wrapper {
    @include pageSettings;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
  }
  &__card {
    width: 100%;
    max-width: 380px;
    margin-bottom: 317px;
  }
  &__text {
    @extend %body-font;
    text-align: right;
    width: 100%;
    max-width: 280px;
    margin-bottom: 23px;
    align-self: flex-end;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}

@include bp-768 {
  .landing {
    &__footer {
      &_small {
        display: block;
      }
    }
  }
}
@include bp-480 {
  .landing {
    &__wrapper {
      padding-left: 0px;
      padding-right: 0px;
      align-items: center;
      justify-content: center;
    }
    &__text {
      opacity: 0;
    }
  }
}
