extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/footer-small/footer-small
include /components/search-card/search-card

block head
  title Landing
  body
    .landing
      header.landing__header
        +header({userName: false})
      main.landing__content.js-landing__content
        .landing__wrapper
          section.landing__card 
            +search-card
          p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      footer.landing__footer
        .landing__footer_default
          +footer
        .landing__footer_small
          +footer-small

