.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    width: 100%;
    background-image: url('~@/assets/images/bg-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include image-animation;
  }
  &__wrapper {
    @include pageSettings;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
  }
  &__card {
    width: 100%;
    max-width: 380px;
    margin-bottom: 317px;
  }
  &__text {
    @extend %body-font;
    text-align: right;
    width: 100%;
    max-width: 280px;
    margin-bottom: 23px;
    align-self: flex-end;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .landing {
    &__footer {
      &_default {
        display: none;
      }
      &_small {
        display: block;
      }
    }
  }
}
@media (max-width: 476px) {
  .landing {
    &__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
    &__card {
      margin: 0 auto;
    }
  }
}
