.landing {
  @include flex-and-height;
  &__content {
    width: 100%;
    @include add-background-image('bg-image-1.jpg');
    @include image-animation;
  }
  &__wrapper {
    @include page-settings;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
  }
  &__card {
    width: 100%;
    max-width: 380px;
    margin-bottom: 317px;
  }
  &__text {
    @extend %body-font;
    text-align: right;
    width: 100%;
    max-width: 280px;
    margin-bottom: 23px;
    align-self: flex-end;
  }
  &__footer {
    &-block {
      margin-top: auto;
    }
    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@include bp-768 {
  .landing {
    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}
@include bp-480 {
  .landing {
    &__wrapper {
      padding-left: 10px;
      padding-right: 10px;
      align-items: center;
      justify-content: center;
    }
    &__text {
      opacity: 0;
    }
  }
}
