include /components/logo/logo 
include /components/social-icons/social-icons

mixin footer-small
  .footer-small
    .footer-small__logo
      +logo({colored: true})
    p.footer-small__text Copyright &#169; 2018 Toxin отель. Все&#160;права&#160;защищены.
    .footer-small__icons
      +socialIcons
