include /components/logo/logo 
include /components/copyright-bar/copyright-bar 

mixin footer-small
  .footer-small
    .footer-small__wrapper
      .footer-small__logo
        +logo({colored: true})
      .footer-small__copyright-bar
        +copyright-bar({flexColumn:true,infoBlockMargin:true})
