.copyright-bar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  text-align: center;
  &_column {
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
  }

  &__information {
    @extend %body-font;
    line-height: 1.0625rem;
    cursor: default;
    padding-top: 4px;
    &-margin {
      margin-bottom: 25px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    min-width: 112px;
  }
  &__link {
    text-decoration: none;
  }
  &__font-awesome {
    min-width: 24px;
    min-height: 24px;
    @extend %primary-grad;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    @extend %aws-font;
    font-size: 1.714rem;
    line-height: 1.643rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
