mixin copyright-bar({flexColumn=false,infoBlockMargin = false})
  .copyright-bar(class=flexColumn? "copyright-bar_column": "")
    .copyright-bar__information(class= infoBlockMargin? "copyright-bar__information-margin" : "") Copyright © 2018 Toxin отель. Все права защищены.
    .copyright-bar__social
      a.copyright-bar__link(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
        i.copyright-bar__font-awesome.fa.fa-twitter 
      a.copyright-bar__link(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer")  
        i.copyright-bar__font-awesome.fa.fa-facebook-square
      a.copyright-bar__link(href="https://www.instagram.com/?hl=ru" target="_blank" rel="noopener noreferrer") 
        i.copyright-bar__font-awesome.fa.fa-instagram