.copyright-bar {
  width: 100%;
  box-sizing: border-box;

  &__information {
    @extend %body-font;
    line-height: 1.0625rem;
    padding-top: 4px;
    cursor: default;
    &-margin {
      margin-bottom: 25px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
  }
  &__font-awesome {
    width: 24px;
    height: 24px;
    @extend %primary-grad;
    -webkit-background-clip: text;
    color: transparent;
    @extend %aws-font;
    cursor: pointer;
    &-margin {
      margin: 0px 20px;
    }
  }
}
