.copyright-bar
    p.copyright-bar__information Copyright © 2018 Toxin отель. Все права защищены.
    .copyright-bar__social
        i.copyright-bar__font-awersome.fa.fa-twitter 
        i.copyright-bar__font-awersome.copyright-bar__font-awersome-margin.fa.fa-facebook-square
        i.copyright-bar__font-awersome.fa.fa-instagram 