include /components/logo/logo-gray/logo-gray


mixin uikit-color(dark=true)
    if dark
        body.uikit.uikit_dark
                .uikit__logo-gray
                    +logo-gray
    else
        body.uikit.uikit_light
                .uikit__logo-gray
                    +logo-gray
    block body
        