extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/footer-small/footer-small
include /components/sign-in-card/sign-in-card

block head
  title Sign in
  body
    .sign-in
      header.sign-in__header
        +header({userName: false})
      main.sign-in__content.js-sign-in__content
        .sign-in__wrapper
          section.sign-in__card
            +sign-in-card
      footer.sign-in__footer
        .sign-in__footer_default
          +footer
        .sign-in__footer_small
          +footer-small