.sign-in {
  @include flexAndHeight;
  &__content {
    width: 100%;
    @include addBackgroundImage('bg-image-4.jpg');
    @include image-animation;
  }
  &__wrapper {
    @include pageSettings;
    padding-top: 163px;
    padding-bottom: 163px;
  }
  &__card {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}

@include bp-768 {
  .sign-in {
    &__footer {
      &_small {
        display: block;
      }
    }
  }
}
