.like-button {
  background-color: #fff;
  border: 1px solid $dark-25;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 9px 19px;
  cursor: pointer;
  outline: none;
  @extend %body-font;
  color: $dark-25;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  &_active {
    border: solid 1px transparent;
    border-radius: 22px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    -webkit-background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white),
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: $color-one;
  }
  &__like {
    position: absolute;
    top: 4px;
    left: 4px;
    &::before {
      content: 'favorite_border';
      @extend %mat-icons;
      font-size: 10px;
      line-height: 9px;
      color: $dark-25;
      box-sizing: border-box;
    }
    &_active {
      &::before {
        content: 'favorite';
        @extend %primary-grad;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__count {
    position: absolute;
    top: 2px;
    left: 20px;
  }
}
