mixin likeButton({count=0, active=false})
  button.like-button.js-like-button(class= active? "like-button_active" : "")
    .like-button__like.js-like-button__like(class= active? "like-button__like_active" : "")
    .like-button__count.js-like-button__count #{count}