extends /components/page-head/page-head
include /components/header/header
include /components/description/description
include /components/dropdown/dropdown
include /components/dropdown-date/dropdown-date
include /components/range-slider/range-slider
include /components/checkbox/checkbox
include /components/expandable-checkbox/expandable-checkbox
include /components/room-card/room-card
include /components/pagination/pagination
include /components/footer/footer
include /components/simple-footer/simple-footer

block head
  - const title = 'Search room';
block content
  -
    const {roomCards,
      dropdownDate,
      dropdown:{guests,room},richCheckboxSettings:{corridor,assistant},expandableCheckbox,
      checkboxSettings:{smoking,pets,guestsCheckbox}} =  require("./search-room.json");

  .search-room
    header.search-room__header
      +header
    main.search-room__content
      aside.search-room__filter.js-search-room__filter
        .search-room__dropdown-date
          +dropdown-date(dropdownDate)

        .search-room__block-guests
          .search-room__description
            +description({text:"гости"})
          .search-room__dropdown
            +dropdown(guests)

        .search-room__block-slider
          .search-room__range-slider
            +range-slider("диапазон цены")
          p.search-room__text Стоимость за сутки пребывания в номере

        .search-room__checkboxes
          .search-room__description
            +description({text:"правила дома"})
          .search-room__checkbox
            +checkbox(smoking)
          .search-room__checkbox
            +checkbox(pets)
          .search-room__checkbox
            +checkbox(guestsCheckbox)

        .search-room__rich-checkboxes
          .search-room__description
            +description({text:"доступность"})
          .search-room__rich-checkbox
            +checkbox(corridor)
          .search-room__rich-checkbox
            +checkbox(assistant)

        .search-room__dropdown-room-block
          .search-room__description
            +description({text:"удобства номера"})
          .search-room__dropdown-room
            +dropdown(room)

        .search-room__expandable-checkbox
          +expandable-checkbox(expandableCheckbox)

      section.search-room__rooms.js-search-room__rooms
        h1.search-room__title Номера, которые мы для вас подобрали
        ul.search-room__card-list
          each card in roomCards
            li.search-room__card-item
              +room-card(card)
        .search-room__pagination
          +pagination
    footer.search-room__footer-block
      .search-room__line
      .search-room__footer.search-room__footer_type_default
        +footer
      .search-room__footer.search-room__footer_type_simple
        +simple-footer
