.search-room {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  @include flex-and-height;
  &__content {
    @include page-settings;
    padding: 30px 20px 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__menu {
    display: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 5px 1px $dark-25;
    background-color: #ffffff;
  }
  &__icon {
    @extend %mat-icons;
    color: $dark-50;
  }
  &__filter {
    width: 100%;
    max-width: 266px;
    margin-right: 20px;
    &_visibility {
      &_visible {
        display: flex;
        flex-direction: column;
        min-width: 748px * 100%/ 768px;
        margin: 0 auto;
        z-index: 99;
      }
      &_hidden {
        display: none;
      }
    }
  }
  &__dropdown-date {
    margin-bottom: 21px;
  }
  &__block-guests {
    & > :first-child {
      margin-bottom: 5px;
    }
    margin-bottom: 31px;
  }
  &__block-slider {
    & > :first-child {
      margin-bottom: 11px;
    }
    margin-bottom: 31px;
  }
  &__text {
    @extend %h3-font;
    line-height: 1rem;
    color: $dark-50;
    text-transform: none;
    font-weight: normal;
    text-align: center;
  }
  &__checkboxes {
    & > :first-child {
      margin-bottom: 15px;
    }
    & > :nth-child(3) {
      margin-top: 14px;
      margin-bottom: 13px;
    }
    margin-bottom: 31px;
  }

  &__rich-checkboxes {
    & > :first-child {
      margin-bottom: 17px;
    }
    & > :nth-child(2) {
      margin-bottom: 10px;
    }
    margin-bottom: 31px;
  }
  &__dropdown-room-block {
    & > :first-child {
      margin-bottom: 5px;
    }
    margin-bottom: 16px;
  }
  &__rooms {
    width: 100%;
    max-width: 835px;
    display: flex;
    flex-direction: column;
    &_visibility {
      &_hidden {
        display: none;
      }
    }
  }

  &__title {
    @extend %h1-font;
    margin-bottom: 21px;
  }
  &__card-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &__card-item {
    list-style-type: none;
    margin-bottom: 21px;
  }
  &__pagination {
    align-self: center;
    margin-right: 13px;
  }
  &__line {
    border-top: 1px solid $dark-25;
    width: 100%;
  }
  &__footer {
    &-block {
      margin-top: auto;
    }
    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@include bp-1024 {
  .search-room {
    &__rooms {
      justify-content: center;
      align-items: center;
    }
    &__card-item {
      margin-right: 5px;
    }
  }
}

@include bp-960 {
  .search-room {
    &__card-list {
      align-items: center;
      justify-content: center;
    }
  }
}

@include bp-768 {
  .search-room {
    position: relative;
    &__menu {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: fixed;
      right: 30px;
      bottom: 30px;
      z-index: 100;
    }
    &__menu-item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &_visibility {
        &_hidden {
          display: none;
        }
      }
    }
    &__title {
      text-align: center;
    }
    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}
