extends /components/page-head/page-head

block head
  - const title = "Toxin"
block content
  main
    section.toxin-page
      ul.toxin-page__link-list
        li.toxin-page__link-item
          a.toxin-page__link(href="../colors-types/colors-types.html") Colors&Types
        li.toxin-page__link-item
          a.toxin-page__link(href="../form-elements/form-elements.html") Form elements
        li.toxin-page__link-item
          a.toxin-page__link(href="../cards/cards.html") Cards
        li.toxin-page__link-item
          a.toxin-page__link(href="../headers-footers/headers-footers.html") Headers&Footers
        li.toxin-page__link-item
          a.toxin-page__link(href="../landing/landing.html") Landing
        li.toxin-page__link-item
          a.toxin-page__link(href="../search-room/search-room.html") Search room
        li.toxin-page__link-item
          a.toxin-page__link(href="../room-details/room-details.html") Room details
        li.toxin-page__link-item
          a.toxin-page__link(href="../registration/registration.html") Registration
        li.toxin-page__link-item
          a.toxin-page__link(href="../sign-in/sign-in.html") Sign in