.copyright-bar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 140px;
  &_column {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  &__information {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);
  }
  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    color: transparent;
    &_column {
      margin-top: 25px;
    }
  }
  &__font-awersome-margin {
    margin: 0px 20px;
  }
}
