//-theme:
    bg-primary-grad
    bg-primary-grad_hover
    border-primary-grad
    border-primary-grad_hover
    only-text-colored
    only-text-default
    long


mixin button(themeName,text)
    form.form&attributes(attributes)
        button.button(type='button' class = 'button_theme-' + themeName) #{text}