.button {
  outline: none;
  @extend %h3-font;
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 22px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  &:focus {
    box-shadow: 1px 1px 5px 3px rgba(188, 156, 255, 1);
  }
  &:hover {
    opacity: 0.5;
  }
  &_theme {
    &_filled {
      width: 100%;
      @extend %primary-grad;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &_bordered {
      width: 100%;
      display: flex;
      background-image: linear-gradient(white, white),
        linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $color-one;
      background-color: #ffffff;
    }
    &_long {
      @extend %primary-grad;
      border: none;
      color: #ffffff;
      padding: 14.75px 18px;
      position: relative;
      flex-grow: 1;
      &::before {
        content: 'arrow_forward';
        @extend %mat-icons;
        color: #ffffff;
        line-height: 1.714rem;
        position: absolute;
        top: 9px;
        right: 12px;
      }
    }
    &_text-colored {
      border: none;
      background-color: #ffffff;
      color: $color-one;
      padding: 0;
      &:focus {
        box-shadow: none;
        text-shadow: 1px 1px 5px rgba(188, 156, 255, 0.7);
      }
    }
    &_text-default {
      border: none;
      background-color: #ffffff;
      color: $dark-50;
      padding: 0;
      &:focus {
        box-shadow: none;
        text-shadow: 1px 1px 5px $dark-25;
      }
    }
    &_disabled {
      opacity: 0.5;
      &:focus {
        box-shadow: none;
      }
    }
  }

  &_type {
    &_link {
      text-decoration: none;
    }
  }
  &_size {
    &_lg {
      padding: 12.8px 17.2px;
    }
    &_m {
      padding: 12.8px 0px;
    }
    &_s {
      padding: 7.8px 18.4px;
    }
  }
}
