//-theme:
    bg-w,
    bg-primary-grad

mixin button(className,themeName,text)
    .button-block(class=className + '__button-block')
        button.buttons(class = 'buttons_theme-' + themeName) #{text}