.button {
  //box-sizing: border-box;
  border-radius: 22px;
  outline: none;
  @extend %h3-font;
  cursor: pointer;

  &_theme-bg-primary-grad {
    @extend %primary-grad;
    color: #ffffff;
    border: none;
    // width: 99px;
    height: 44px;
    padding: 0 19px;
    &:hover {
      opacity: 0.5;
    }
  }
  &_theme-border-primary-grad {
    border: 2px solid $color-one;
    // width: 99px;
    height: 44px;
    color: $color-one;
    padding: 0px 17px;
    background-color: #ffffff;
    &:hover {
      opacity: 0.5;
    }
  }

  &_theme-only-text-colored {
    border: none;
    background-color: #ffffff;
    color: $color-one;
  }

  &_theme-only-text-default {
    border: none;
    background-color: #ffffff;
    color: $dark-50;
  }
  &_theme-long {
    @extend %primary-grad;
    border: none;
    color: #ffffff;
    width: 320px;
    height: 44px;
    padding: 10px 10px;
    position: relative;
  }
  &_theme-long::before {
    content: "arrow_forward";
    @extend %mat-icons;
    color: #ffffff;
    line-height: 24px;
    position: absolute;
    top: 10px;
    right: 8px;
  }

  //styles for example
  &_theme-bg-primary-grad_hover {
    @extend %primary-grad;
    color: #ffffff;
    border: none;
    width: 99px;
    height: 44px;
    padding: 0px 19px;

    opacity: 0.5;
  }

  &_theme-border-primary-grad_hover {
    border: 2px solid $color-one;
    width: 99px;
    height: 44px;
    color: $color-one;
    padding: 0px 17px;
    background-color: #ffffff;

    opacity: 0.5;
  }
}
