//-theme:
    bg-primary-grad
    bg-primary-grad_hover
    border-primary-grad   ---> button_theme-border-primary-grad_padding-m , button_theme-border-primary-grad_padding-lg
    border-primary-grad_hover
    only-text-colored
    only-text-default
    long


mixin button(themeName,text)
    button(type='button' class ='button button_theme-' + themeName)&attributes(attributes) #{text}