include ./color-block/color-block
include ./text-block/text-block

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title ColorsTypes
    link(rel='stylesheet' href='style.css')
    
  body.page
    include ./main-logo/main_logo
    .page__content.content
      .color-block
        +colors('dark100','Dark Shade 100%','#1F2041')
        +colors('dark75','Dark Shade 75%','#1F2041')
        +colors('dark50','Dark Shade 50%','#1F2041')
        +colors('dark25','Dark Shade 25%','#1F2041')
        +colors('dark5', 'Dark Shade 5%','#1F2041')
        +colors('purple', 'Purple','#BC9CFF')
        +colors('green', 'Green','#6FCF97')

      .text-block
        .text-block__headers-list
          +header-blocks('h1','h1','H1')
          +header-blocks('h2','h2','H2')
          +header-blocks('h3','h3','H3')
          +header-blocks('body','body','Body')
        .text-block__inform-list
          +info-header-blocks('h1','h1','This one is the sub-section or widget title')
          +info-header-blocks('h2','h2','Next one is the item title inside widgets')
          +info-header-blocks('h3','h3','This is a label or CTA text')
          +info-header-blocks('body','body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
