include ./group one/rectangle
include ./group two/text-blocks

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title ColorsTypes
    link(rel='stylesheet' href='style.css')
    
  body
    .group-one-block
      +colors('1','dark100', 'color-1','Quicksand-font','Dark Shade 100%','#1F2041')
      +colors('2','dark75', 'color-2','Quicksand-font','Dark Shade 75%','#1F2041')
      +colors('3','dark50', 'color-3','Quicksand-font','Dark Shade 50%','#1F2041')
      +colors('4','dark25', 'color-4','Quicksand-font','Dark Shade 25%','#1F2041')
      +colors('5','dark5', 'color-5','Quicksand-font','Dark Shade 5%','#1F2041')
      +colors('6','purple', 'color-6','Quicksand-font','Purple','#BC9CFF')
      +colors('7','green', 'color-7','Quicksand-font','Green','#6FCF97')

    .text-block
      .text-block__headers-list
        +header-blocks('h1','h1','Montserrat-font','H1')
        +header-blocks('h2','h2','Montserrat-font','H2')
        +header-blocks('h3','h3','Montserrat-font','H3')
        +header-blocks('body','body','Montserrat-font','Body')
      .text-block__inform-list
        +info-header-blocks('h1','h1','Quicksand-font','This one is the sub-section or widget title')
        +info-header-blocks('h2','h2','Quicksand-font','Next one is the item title inside widgets')
        +info-header-blocks('h3','h3','Montserrat-font', 'This is a label or CTA text')
        +info-header-blocks('body','body', 'Montserrat-font','This is the body text which is used for most of the design, like paragraphs, lists, etc.')
