@import "./color-block/color-block.scss";
@import "./text-block/text-block.scss";
@import "./font/fonts.scss";
.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  &__main-logo {
    margin-bottom: 67px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-basis: content;
    padding-left: 119.74px;
  }
}
