html {
  font-size: 14px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: $dark-75;
}
body {
  margin: 0px;
  padding: 0px;
  max-width: 1920px;
  min-width: 320px;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
