*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: $dark-75;
}
body {
  max-width: 1920px;
  min-width: 320px;
}
p,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.714rem;
  line-height: 2.071rem;
}
h2 {
  font-size: 1.357rem;
  line-height: 1.643rem;
}
h3 {
  font-size: 0.857rem;
  line-height: 1.071rem;
}
