include /components/checkbox/checkbox
include /components/buttons/buttons

mixin expandable-checkbox(text, open= false)
    if open
        .expandable-checkbox&attributes(attributes)
            .expandable-checkbox__name #{text} 
                +button('only-text-default','expand_more','expandable-checkbox__material-icon_font expandable-checkbox__material-icon_font_open').expandable-checkbox__material-icon
            .expandable-checkbox__items
                +checkbox('default','breakfast', 'Завтрак').expandable-checkbox__item
                +checkbox('default','desk', 'Письменный стол','', true).expandable-checkbox__item
                +checkbox('default','feeding chair', 'Стул для кормления','', true).expandable-checkbox__item
                +checkbox('default','crib', 'Кроватка','', true).expandable-checkbox__item
                +checkbox('default','tv', 'Телевизор').expandable-checkbox__item
                +checkbox('default','shampoo', 'Шампунь').expandable-checkbox__item
    else 
        .expandable-checkbox&attributes(attributes)
            .expandable-checkbox__name #{text} 
                +button('only-text-default','expand_more','expandable-checkbox__material-icon_font').expandable-checkbox__material-icon
            .expandable-checkbox__items.expandable-checkbox__items_hidden
                +checkbox('default','breakfast', 'Завтрак').expandable-checkbox__item
                +checkbox('default','desk', 'Письменный стол','', true).expandable-checkbox__item
                +checkbox('default','feeding chair', 'Стул для кормления','', true).expandable-checkbox__item
                +checkbox('default','crib', 'Кроватка','', true).expandable-checkbox__item
                +checkbox('default','tv', 'Телевизор').expandable-checkbox__item
                +checkbox('default','shampoo', 'Шампунь').expandable-checkbox__item