.expandable-checkbox {
  width: 100%;
  position: relative;
  cursor: pointer;
  &__name {
    @extend %h3-font;
    padding-top: 14.8px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__arrow {
    @extend %mat-icons;
    color: $dark-50;
    position: absolute;
    top: 11px;
    right: 10px;
    &_opened {
      transform: rotate(180deg);
    }
  }
  &__items {
    list-style-type: none;
    &_hidden {
      display: none;
    }
  }

  &__item {
    margin-bottom: 13px;
  }
}
