.expandable-checkbox {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &__name {
    @extend %h3-font;
    padding: 14.8px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__material-icon {
    @extend %mat-icons;
    color: $dark-50;
    position: absolute;
    top: 16px;
    right: 9px;
    &_open {
      transform: rotate(180deg);
    }
  }
  &__item {
    margin-bottom: 13px;
  }
  &__items_hidden {
    display: none;
  }
}
