extends /components/page-head/page-head
include /components/description/description
include /components/text-field/text-field
include /components/dropdown/dropdown
include /components/dropdown-date/dropdown-date
include /components/checkbox/checkbox
include /components/radio/radio
include /components/toggle/toggle
include /components/like-button/like-button
include /components/rate-button/rate-button
include /components/range-slider/range-slider
include /components/button/button
include /components/pagination/pagination
include /components/expandable-checkbox/expandable-checkbox
include /components/bullet-list/bullet-list
include /components/bonus-icon/bonus-icon
include /components/comment/comment
include /components/logo/logo

block head
  - const title = "Form elements"
block content
  - 
    const {settingsTextField:{text, hover, mask, subscribe},
      settingsDropdown: {guestsOne, room, roomActive, guestsTwo, guestsThree},
      checkboxSettings:{smoking, pets, guests},
      radioSettings:{male, female}, 
      buttonSettings:{filled, filledDisabled, bordered, borderedDisabled, defaultButton, defaultWithColor, filledTypeSubmit},
      dropdownDateSettings:{range, filter},
      expandableCheckbox:{closedCheckbox, openedCheckbox},
      richCheckboxSettings:{corridor,assistant},
      comment,
      bonusIcon:{comfort, convenience},
      bulletList} = require("./form-elements.json");

  .form-elements
    header.form-elements__header
      .form-elements__logo
        +logo
    main.form-elements__container
      .form-elements__row
        .form-elements__block-left

          .form-elements__text-field-container
            .form-elements__description
              +description({
                isWithStatus: true,
                text: "text field",
                status: "default"
              })
            .form-elements__text-field
              +text-field(text)

          .form-elements__text-field-container
            .form-elements__description
              +description({
                isWithStatus: true,
                text: "text field",
                status:"hover / focus"
            })
            .form-elements__text-field
              +text-field(hover)

          .form-elements__dropdown-container
            +description({text: "dropdown"})
            .form-elements__dropdown
              +dropdown(guestsOne)

          .form-elements__text-field-container
            .form-elements__description
              +description({text: "masked text field"})
            .form-elements__text-field
              +text-field(mask)

          .form-elements__dropdown-date
            +dropdown-date(range)

          .form-elements__dropdown-date.form-elements__dropdown-date_size_small
            +dropdown-date(filter)

          .form-elements__text-field-container.form-elements__text-field-container_size_small
            .form-elements__description
              +description({text: "subscription text field"})
            .form-elements__text-field
              +text-field(subscribe)

        .form-elements__block-center

          .form-elements__checkbox-container
            .form-elements__description
              +description({text: "checkbox buttons"})
            .form-elements__checkbox
              +checkbox(smoking)
            .form-elements__checkbox
              +checkbox(pets)
            .form-elements__checkbox
              +checkbox(guests)

          .form-elements__radio-buttons-container
            .form-elements__description
              +description({text: "radio buttons"})
            .form-elements__radio-buttons-row
              .form-elements__radio-button
                +radio(male)
              .form-elements__radio-button
                +radio(female)

          .form-elements__toggle-container
            .form-elements__description
              +description({text: "toggle"})
            .form-elements__toggle
              +toggle({text:"Получать спецпредложения",checked: true})
            .form-elements__toggle
              +toggle({text:"Получать спецпредложения"})

          .form-elements__like-button-container
            .form-elements__description
              +description({text: "like button"})
            .form-elements__like-button-row
              .form-elements__like-button
                +like-button({count:2})
              .form-elements__like-button
                +like-button({count:12, active:true})

          .form-elements__rate-button-container
            .form-elements__description
              +description({text: "rate button"})
            .form-elements__rate-button-row
              .form-elements__rate-button
                +rate-button(4)
              .form-elements__rate-button
                +rate-button(5)

        .form-elements__block-right

          .form-elements__range-slider
            +range-slider({text:"range slider"})

          .form-elements__buttons-container
            .form-elements__description
              +description({text: "buttons"})
            .form-elements__buttons-wrapper
              .form-elements__button.form-elements__button_size_s
                +button(filled)
              .form-elements__button.form-elements__button_size_s
                +button(filledDisabled)
            .form-elements__buttons-wrapper
              .form-elements__button.form-elements__button_size_s
                +button(bordered)
              .form-elements__button.form-elements__button_size_s
                +button(borderedDisabled)
            .form-elements__buttons-wrapper.form-elements__buttons-wrapper_size_s
              .form-elements__button
                +button(defaultButton)
              .form-elements__button
                +button(defaultWithColor)
            .form-elements__button
              +button(filledTypeSubmit)

          .form-elements__pagination-container
            .form-elements__description
              +description({text: "pagination"})
            .form-elements__pagination
              +pagination

      .form-elements__row
        .form-elements__left-wrapper

          .form-elements__dropdown-container.form-elements__dropdown-container_size_s
            .form-elements__description
              +description({
                isWithStatus: true,
                text: "dropdown",
                status: "default"
              })
            .form-elements__dropdown
              +dropdown(room)

          .form-elements__dropdown-container.form-elements__dropdown-container_size_s
            .form-elements__description
              +description({
                isWithStatus: true,
                text: "dropdown",
                status: "expanded"
              })
            .form-elements__dropdown
              +dropdown(roomActive)

          .form-elements__expandable-checkbox-container
            .form-elements__expandable-checkbox
              +expandable-checkbox(closedCheckbox)
            .form-elements__expandable-checkbox
              +expandable-checkbox(openedCheckbox)

          .form-elements__bonus-icon-container
            .form-elements__bonus-icon
              +bonus-icon(comfort)
            .form-elements__bonus-icon
              +bonus-icon(convenience)

        .form-elements__center-wrapper

          .form-elements__row
            .form-elements__dropdown-container
              .form-elements__description
                +description({text: "dropdown"})
              .form-elements__dropdown
                +dropdown(guestsTwo)

            .form-elements__dropdown-container
              .form-elements__description
                +description({text: "dropdown"})
              .form-elements__dropdown
                +dropdown(guestsThree)

          .form-elements__row
            .form-elements__rich-checkbox-container
              .form-elements__description
                +description({text: "Rich Checkbox Buttons"})
              .form-elements__rich-checkbox
                +checkbox(corridor)
              .form-elements__rich-checkbox  
                +checkbox(assistant)

            .form-elements__bullet-list-container
              .form-elements__description
                +description({text: "bullet list"})
              .form-elements__bullet-list
                +bullet-list(bulletList)

          .form-elements__comment
            +comment(comment)
