extends  /layout/uikit/uikit
include /components/field/field
include /components/dropdown/dropdown
include /components/dropdown-date/dropdown-date
include /components/checkbox/checkbox
include /components/radio/radio
include /components/toggle/toggle
include /components/like-button/like-button
include /components/rate button/rate button
include /components/range slider/range slider
include /components/buttons/buttons
include /components/pagination/pagination
include /components/expandable-checkbox/expandable-checkbox

block head
  title Form elements

block body
    .container
        .container_content
            .fe__block.fe__block_margin-s
                .fe__description.fe__description_margin-s
                    .fe__block-name text field
                    .fe__block-status default
                +field('text','Email').fe__field
            .fe__block.fe__block_margin-s
                .fe__description.fe__description_margin-s
                    .fe__block-name text field
                    .fe__block-status hover / focus
                +field('hoverText','This is pretty awesome').fe__field
            .fe__block.fe__block_margin-s
                .fe__description.fe__description_margin-s
                    .fe__block-name dropdown
                    .fe__block-status default
                +dropdown.fe__dropdown
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-s
                    .fe__block-name masked text field
                    .fe__block-status default
                +field('mask','ДД.ММ.ГГГГ').fe__field
            .fe__block.fe__block_row.fe__block_margin-m
                .fe__block-wrapper
                    .fe__description.fe__description_margin-s
                        .fe__block-name date dropdown
                    +dropdown_date('ДД.ММ.ГГГГ',false,'19.08.2019').fe__dropdown
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-s
                    .fe__block-name filter date dropdown
                +dropdown_date('19 авг - 23 авг',true).fe__dropdown
            .fe__block
                .fe__description.fe__description_margin-s
                    .fe__block-name subscription text field
                +field('sub','Email').fe__field
        .container_content
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-m
                    .fe__block-name checkbox buttons
                +checkbox('smoking', 'Можно курить').fe__checkbox
                +checkbox('pets', 'Можно с питомцами','true').fe__checkbox
                +checkbox('guests', 'Можно пригласить гостей (до 10 человек)','true').fe__checkbox
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-m
                    .fe__block-name radio buttons
                form.fe__block_row
                    +radio('gender1','gender', 'male', 'Мужчина',true).fe__radio
                    +radio('gender2','gender', 'female', 'Женщина').fe__radio
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-m
                    .fe__block-name toggle
                +toggle('Получать спецпредложения', true).fe__toggle
                +toggle('Получать спецпредложения').fe__toggle
            .fe__block.fe__block_margin-m
                .fe__description.fe__description_margin-m
                    .fe__block-name like button
                .fe__block_row
                    +like_button('2').fe__like-button
                    +like_button('12',true).fe__like-button
            .fe__block
                .fe__description.fe__description_margin-m
                    .fe__block-name rate button
                .fe__block_row
                    +rateButton(4).fe__rate-button
                    +rateButton(5).fe__rate-button
        .container_content
            .fe__block.fe__block_margin-m
                +range_slider('range slider')
            .fe__block
                .fe__description.fe__description_margin-m
                    .fe__block-name buttons
                .fe__block_row
                    +button('bg-primary-grad', 'click me').fe__button
                    +button('bg-primary-grad_hover', 'click me').fe__button
                .fe__block_row
                    +button('border-primary-grad', 'click me').fe__button
                    +button('border-primary-grad_hover', 'click me').fe__button
                .fe__block_row
                    +button('only-text-colored', 'click me').fe__button
                    +button('only-text-default', 'click me').fe__button
                .fe__block_row
                    +button('long', 'перейти к оплате').fe__button
            .fe__block
                .fe__description.fe__description_margin-m.fe__description_size-s
                    .fe__block-name pagination
                +pagination.fe__pagination
        .container_content
            .fe__block.fe__block_margin-top-lg
                +dropdown(false).fe__dropdown-room
                +dropdown(false).fe__dropdown-room
        .container_content
            .fe__block.fe__block_margin-top-lg
                +dropdown.fe__dropdown
        .container_content
            .fe__block.fe__block_margin-top-lg
                +dropdown.fe__dropdown
        .container_content
            .fe__block.fe__block_margin-top-s
                +expandable-checkbox('expandable checkbox list').fe__expandable-checkbox
                +expandable-checkbox('expandable checkbox list', true).fe__expandable-checkbox