extends  /layout/ui-kit/ui-kit
include /components/description/description
include /components/field/field
include /components/dropdown/dropdown
include /components/dropdown-date/dropdown-date
include /components/checkbox/checkbox
include /components/radio/radio
include /components/toggle/toggle
include /components/like-button/like-button
include /components/rate button/rate button
include /components/range slider/range slider
include /components/buttons/buttons
include /components/pagination/pagination
include /components/expandable-checkbox/expandable-checkbox
include /components/bullet-list/bullet-list
include /components/icon-list/icon-list
include /components/comments/comments


block head
  title Form elements

block body
   - const {settingsTextField, descriptions, settingsDropdown,checkboxSettings,} = require('./form-elements.json')
   - const {radioSettings,toggleSettings, likeButtonSettings, rangeSlider} = require('./form-elements.json')
    .form-elements.content-block__form-elements
   
        .form-elements__container
            .form-elements__content.form-elements__content_row.form-elements__content_margin-b-100
                .form-elements__content.form-elements__content_column.form-elements__content_margin-r-50.form-elements__content_width-320
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-20
                        +description(descriptions.one)
                        +text-field(settingsTextField.text)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-20
                        +description(descriptions.two)
                        +text-field(settingsTextField.hover)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-20
                        +description(descriptions.three)
                        +dropdown(settingsDropdown.guestsOne)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41
                        +description(descriptions.four)
                        +text-field(settingsTextField.mask)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41
                        +dropdown_date('double',true,'ДД.ММ.ГГГГ','date dropdown','19.08.2019','date dropdown', false)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41.form-elements__block_size-266
                        +dropdown_date('filter',true,'19 авг - 23 авг','filter date dropdown').form-elements__dropdown
                    .form-elements__block.form-elements__block_column.form-elements__block_size-266
                        +description(descriptions.five)
                        +text-field(settingsTextField.subscribe)
                .form-elements__content.form-elements__content_column.form-elements__content_width-320
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41.form-elements__block_size-266
                        +description(descriptions.six)
                        +checkbox(checkboxSettings.smoking)
                        .form-elements__block.form-elements__block_margin-t-b-16
                            +checkbox(checkboxSettings.pets)
                        +checkbox(checkboxSettings.guests)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-35
                        +description(descriptions.seven)
                        .form-elements__block_row
                            +radio(radioSettings.male)
                            +radio(radioSettings.female)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41.form-elements__block_margin-t-5
                        +description(descriptions.eight)
                        +toggle(toggleSettings.first)
                        .form-elements__block.form-elements__block_margin-t-10
                            +toggle(toggleSettings.second)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-b-41
                        +description(descriptions.nine)
                        .form-elements__block_row
                            +like_button(likeButtonSettings.first)
                            +like_button(likeButtonSettings.second)
                    .form-elements__block.form-elements__block_column
                        +description(descriptions.ten)
                        .form-elements__block_row
                            .form-elements__block.form-elements__block_margin-r-20
                                +rateButton(4).form-elements__rate-button
                            +rateButton(5).form-element__rate-button
                .form-elements__content.form-elements__content_column.form-elements__content_width-320
                    .form-elements__block.form-elements__block_margin-b-20.form-elements__block_size-266
                        +range_slider(rangeSlider)
                    .form-elements__block.form-elements__block_column.form-elements__block_margin-t-10.form-elements__block_margin-b-41
                        +description(descriptions.eleven)
                        .form-elements__block.form-elements__block_row.form-elements__block_margin-b-32
                            .form-elements__block_margin-r-20
                                +button('bg-primary-grad button_theme-bg-primary-grad_padding-lg', 'click me')
                            +button('bg-primary-grad_hover', 'click me')
                        .form-elements__block.form-elements__block_row.form-elements__block_margin-b-32
                            .form-elements__block_margin-r-20
                                +button('border-primary-grad button_theme-border-primary-grad_padding-lg', 'click me')
                            +button('border-primary-grad_hover', 'click me')
                        .form-elements__block.form-elements__block_row.form-elements__block_margin-b-32
                            .form-elements__block_margin-r-20
                                +button('only-text-colored', 'click me')
                            +button('only-text-default', 'click me')
                        .form-elements__block
                            +button('long', 'перейти к оплате')
                    .form-elements__block.form-elements__block_column
                        +description(descriptions.twelve)
                        +pagination
            .form-elements__content.form-elements__content_row.form-elements__content_margin-b-95
                .form-elements__content.form-elements__content_column.form-elements__content_margin-r-126.form-elements__content_width-320
                    .form-elements__block.form-elements__block_column
                        .form-elements__block.form-elements__block_column.form-elements__block_size-266
                            +description(descriptions.thirteen)
                            .form-elements__block.form-elements__block_margin-b-20
                                +dropdown(settingsDropdown.room)
                        .form-elements__block.form-elements__block_column.form-elements__block_size-266
                            +description(descriptions.fourteen)
                            .form-elements__block.form-elements__block_margin-b-20
                                +dropdown(settingsDropdown.roomActive)
                        .form-elements__block.form-elements__block_column.form-elements__block_size-266.form-elements__block_margin-t-144 
                            .form-elements__block.form-elements__block_margin-b-20
                                +expandable-checkbox('expandable checkbox list')
                            +expandable-checkbox('expandable checkbox list', true)
                .form-elements__content.form-elements__content_column
                    .form-elements__content.form-elements__content_row.form-elements__content_margin-b-100
                        .form-elements__content.form-elements__content_column.form-elements__content_width-320.form-elements__content_margin-r-72
                                +description(descriptions.fifteen)
                                +dropdown(settingsDropdown.guestsTwo)
                        .form-elements__content.form-elements__content_column.form-elements__content_width-320
                                +description(descriptions.fifteen)
                                +dropdown(settingsDropdown.guestsThree)
                    .form-elements__content_row.form-elements__content_margin-top-150
                        .form-elements__content_column.form-elements__content_width-320
                            .form-elements__block.form-elements__block_column.form-elements__block_margin-t-10.form-elements__block_size-266
                                +description(descriptions.sixteen)
                                +checkbox('rich','corridor-size','Ширина коридоров в номере          не менее 91 см.','Широкий коридор')
                                .form-elements__block.form-elements__block_margin-t-10
                                    +checkbox('rich','disabled-assistant','На 1 этаже вас встретит специалист и проводит до номера.','Помощник для инвалидов')
                        .form-elements__content.form-elements__content_column.form-elements__content_width-320
                            .form-elements__block.form-elements__block_margin-t-10
                                +bulletList('bullet list')
            .form-elements__content.form-elements__content_row
                .form-elements__content.form-elements__content_column.form-elements__content_width-320
                    .form-elements__block.form-elements__block_column.form-elements__block_size-266
                        .form-elements__block.form-elements__block_margin-b-20
                            +iconList('insert_emoticon','Комфорт','Шумопоглощающие стены')
                        +iconList('location_city','Удобство','Окно в каждой из спален')
                .form-elements__content.form-elements__content_column.form-elements__content_width-711
                    .form-elements__block.form-elements__block_margin-t-5
                        +comments('user1.png','Мурад Сарафанов', '5 дней назад','12',true,'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
