.form-elements {
  width: 100%;
  box-sizing: border-box;
  &__container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 131px;
    box-sizing: border-box;
  }
  &__content {
    box-sizing: border-box;
    &_row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &_column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      //flex-shrink: 0;
    }
    &_margin-b-100 {
      margin-bottom: 100px;
    }
    &_margin-b-95 {
      margin-bottom: 95px;
    }
    &_margin-r-126 {
      margin-right: 126px * 100%/ 1160px;
    }
    &_margin-r-50 {
      margin-right: 50px;
    }
    &_margin-r-72 {
      margin-right: 72px;
    }

    &_margin-top-150 {
      margin-top: 150px;
    }
    &_width-320 {
      max-width: 320px;
    }
    &_width-711 {
      max-width: 711px;
    }
  }
  &__block {
    display: flex;
    &_column {
      flex-direction: column;
      //flex-shrink: 0;
      box-sizing: border-box;
    }
    &_row {
      display: flex;
      flex-direction: row;
    }

    &_size-266 {
      max-width: 266px;
    }
    &_margin-t-5 {
      margin-top: 5px;
    }
    &_margin-b-35 {
      margin-bottom: 35px;
    }
    &_margin-b-20 {
      margin-bottom: 20px;
    }
    &_margin-b-41 {
      margin-bottom: 41px;
    }
    &_margin-t-10 {
      margin-top: 10px;
    }
    &_margin-t-144 {
      margin-top: 140px;
    }
    &_margin-r-126 {
      margin-right: 126px;
    }
    &_margin-t-b-16 {
      margin: 16px 0px;
    }
    &_margin-r-20 {
      margin-right: 20px;
    }
    &_margin-b-32 {
      margin-bottom: 32px;
    }
  }

  &__icon-list {
    &_margin {
      margin-top: 18px;
    }
  }
}
