.form-elements {
  width: 100%;
  padding-left: 140px * 100%/ 1440px;
  padding-right: 140px * 100%/ 1440px;
  box-sizing: border-box;
  &__container {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 62px;
  }
  &__content {
    &_row {
      width: 100%;
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      flex-wrap: wrap;

      margin-bottom: 100px;
    }
    &_column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
    &_margin-r-126 {
      margin-right: 126px * 100%/ 1160px;
    }
    &_margin-r-72 {
      margin-right: 72px;
    }

    &_margin-top-150 {
      margin-top: 150px;
    }
    &_width-320 {
      max-width: 320px;
    }
  }
  &__block {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    //flex-grow: 1;
    &_size-266 {
      width: 266px;
    }
    &_size-711 {
      max-width: 711px;
      margin-top: 10px;
    }
    &_margin-b-35 {
      margin-bottom: 35px;
    }
    &_margin-b-20 {
      margin-bottom: 20px;
    }
    &_margin-b-41 {
      margin-bottom: 41px;
    }
    &_margin-top-10 {
      margin-top: 10px;
    }
    &_margin-top-140 {
      margin-top: 140px;
    }
    &_margin-r-72 {
      margin-right: 170px;
    }

    &_row {
      display: flex;
      flex-direction: row;
    }
  }

  &__toggle {
    &_margin {
      margin-bottom: 10px;
    }
  }
  &__like-button {
    margin-right: 10px;
  }
  &__rate-button {
    margin-right: 20px;
  }
  &__button {
    margin-right: 20px;
    margin-bottom: 32px;
    &_margin-0 {
      margin: 0;
    }
  }
  &__checkbox {
    &_margin {
      margin: 16px 0px;
    }
  }
  &__expandable-checkbox_margin {
    margin-bottom: 23px;
  }
  &__checkbox-rich {
    &_margin {
      margin-bottom: 13px;
    }
  }
  &__dropdown-room {
    margin-bottom: 14px;
  }
}
