include ../../../components/dropdown-date/dropdown-date
include ../../../components/dropdown/dropdown
include ../../../components/description/description
include ../../../components/buttons/buttons

mixin calc-card(luxury = false)
    .calc-card&attributes(attributes)
        form.calc-card__form
            .calc-card__number-block
                .calc-card__number
                    span.calc-card__number_no № 
                    span.calc-card__number_num 888
                    if luxury
                        span.calc-card__number_luxury  люкс
                .calc-card__price 
                    span.calc-card__price_num 9 900₽
                    span.calc-card__price_text  в сутки
            .calc-card__date-block
                +dropdown_date('double',true,'ДД.ММ.ГГГГ','прибытие','ДД.ММ.ГГГГ','выезд', true)
            .calc-card__dropdown-block
                +description('small margin','гости').calc-card__description
                +dropdown('guests',2,1,0)
            .calc-card__calculation-block
                .calc-card__days-sum
                    span.calc-card__days-price 9 990₽ х 4 суток 
                    span.calc-card__sum-one 39 960₽
                .calc-card__sale
                    .calc-card__item-block
                        span.calc-card__sale-price Сбор за услуги: скидка 2 179₽
                        span.calc-card__circle-item i
                    span.calc-card__sum-two 0₽
                .calc-card__services
                    .calc-card__item-block
                        span.calc-card__services-price Сбор за дополнительные услуги
                        span.calc-card__circle-item i
                    span.calc-card__sum-three 300₽
                .calc-card__total
                    span.calc-card__total-text Итого
                    span.calc-card__total-line
                    span.calc-card__total-sum 38 081₽
            .calc-card__button-block
                +button('long','Забронировать')


        