include ../../../components/dropdown-date/dropdown-date
include ../../../components/dropdown/dropdown
include ../../../components/description/description

mixin calc-card(number,price,luxury = false)
    form.calc-card&attributes(attributes)
        .calc-card__number-block
            .calc-card__number
                span.calc-card__number_no №
                span.calc-card__number_num #{number}
                if luxury
                    span.calc-card__number_luxury  люкс
            .calc-card__price 
                span.calc-card__price_num #{price}₽
                span.calc-card__price_text  в сутки
        .calc-card__date-block
            -// +dropdown_date('double','','прибытие','','выезд', true)
        .calc-card__dropdown-block
            +description('гости').calc-card__description
            +dropdown('guests',false,2,1,0)
        