.registration-card {
  width: 100%;
  padding: 40px 30px 30px;
  box-sizing: border-box;

  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin: 0;
    padding: 0;
    @extend %h1-font;
    margin-bottom: 20px;
  }
  &__block {
    width: 100%;
    display: flex;
    &_column {
      flex-direction: column;
    }

    &_row {
      flex-direction: row;
      //justify-content: space-between;
      align-items: center;
    }
    &_margin-b-10 {
      margin-bottom: 10px;
    }
    &_margin-b-20 {
      margin-bottom: 20px;
    }
    &_margin-r-20 {
      margin-right: 20px;
    }
    &_margin-b-30 {
      margin-bottom: 30px;
    }
  }

  &__text {
    @extend %body-font;
    color: #000000;
    line-height: 18px;
    margin-right: 35px;
  }
}
