include ../../../components/field/field
include ../../../components/radio/radio
include ../../../components/description/description
include ../../../components/toggle/toggle
include ../../../components/buttons/buttons

mixin registration-card
    .registration-card&attributes(attributes)
        p.registration-card__title Регистрация аккаунта
        form.registration-card__form
            .registration-card__block.registration-card__block_column
                .registration-card__block_margin-b-10
                    +field('text','Имя')
                .registration-card__block_margin-b-10
                    +field('text', 'Фамилия')
            .registration-card__block.registration-card__block_row.registration-card__block_margin-b-20
                .registration-card__block
                    +radio('gender1','gender', 'male', 'Мужчина',true,true)
                    +radio('gender2','gender', 'female', 'Женщина',false)
            .registration-card__block.registration-card__block_column.registration-card__block_margin-b-20
                +description('small margin','дата рождения')
                +field('mask', 'ДД.ММ.ГГГГ')
            .registration-card__block.registration-card__block_column
                .registration-card__block_margin-b-10
                    +description('small margin','данные для входа в сервис')
                    +field('text','Email')
                .registration-card__block_margin-b-10
                    +field('password', 'Пароль')
            .registration-card__block.registration-card__block_column
                .registration-card__block_margin-b-20
                    +toggle('Получать спецпредложения')
                .registration-card__block.registration-card__block_margin-b-30
                    +button('long','перейти к оплате')
            .registration-card__block.registration-card__block_row
                p.registration-card__text Уже есть аккаунт на Toxin
                +button('border-primary-grad button_theme-border-primary-grad_padding-m','войти')
            