.registration {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    width: 100%;
    background-image: url('/assets/images/bg-image-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include image-animation;
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  &__card {
    width: 100%;
    max-width: 383px;
    margin: 0 auto;
    padding-left: 4px;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .registration {
    &__card {
      max-width: 380px;
      padding: 0px;
    }
    &__footer {
      &_default {
        display: none;
      }
      &_small {
        display: block;
      }
    }
  }
}
