.registration {
  @include flexAndHeight;
  &__content {
    width: 100%;
    @include addBackgroundImage('bg-image-4.jpg');
    @include image-animation;
  }
  &__wrapper {
    @include pageSettings;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  &__card {
    width: 100%;
    max-width: 383px;
    margin: 0 auto;
    padding-left: 4px;
  }
  &__footer {
    margin-top: auto;
    &_small {
      display: none;
    }
  }
}
@include bp-768 {
  .registration {
    &__card {
      max-width: 380px;
      padding: 0px;
    }
    &__footer {
      &_small {
        display: block;
      }
    }
  }
}
