extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/footer-small/footer-small
include /components/registration-card/registration-card

block head
  title Registration
  body
    .registration
      header.registration__header
        +header({userName: false})
      main.registration__content.js-registration__content
        .registration__wrapper
          .registration__card
            +registration-card
      footer.registration__footer
        .registration__footer_default
          +footer
        .registration__footer_small
          +footer-small