.registration {
  @include flex-and-height;
  &__content {
    width: 100%;
    @include add-background-image('bg-image-4.jpg');
    @include image-animation;
  }
  &__wrapper {
    @include page-settings;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  &__card {
    width: 100%;
    max-width: 383px;
    margin: 0 auto;
    padding-left: 4px;
  }
  &__footer {
    &-block {
      margin-top: auto;
    }
    &_type {
      &_simple {
        display: none;
      }
    }
  }
}
@include bp-768 {
  .registration {
    &__card {
      max-width: 380px;
      padding: 0px;
    }
    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}

@include bp-480 {
  .registration {
    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
