extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/simple-footer/simple-footer
include /components/registration-card/registration-card

block head
  - const title = "Registration"
block content
  .registration
    header.registration__header
      +header
    main.registration__content.js-registration__content
      .registration__wrapper
        section.registration__card
          +registration-card
    footer.registration__footer-block
      .registration__footer.registration__footer_type_default
        +footer
      .registration__footer.registration__footer_type_simple
        +simple-footer