.registration-card {
  max-width: 380px;
  padding: 2.857rem 2.143rem 2.143rem;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  &__title {
    @extend %h1-font;
    margin-bottom: 1.429rem;
  }
  &__container {
    display: flex;
    &_column {
      flex-direction: column;
    }
    &_row {
      flex-direction: row;
      align-items: center;
    }
    &_margin-b-23 {
      margin-bottom: 1.643rem;
    }
    &_margin-b-10 {
      margin-bottom: 0.714rem;
    }
    &_margin-b-30 {
      margin-bottom: 2.143rem;
    }
  }
  &__text-field {
    margin-bottom: 0.714rem;
    &_margin-b-8 {
      margin-bottom: 0.571rem;
    }
  }
  &__text {
    @extend %body-font;
    color: #000000;
    line-height: 18px;
    margin-right: 2.5rem;
  }
  &__description {
    margin-bottom: 0.357rem;
  }
  &__button {
    &_long {
      width: 100%;
      display: flex;
    }
  }
  &__toggle {
    display: flex;
    margin-bottom: 1.643rem;
  }
}
