.logo-gray {
  display: flex;
  align-items: center;
  width: max-content;
}
.logo-colored {
  display: flex;
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
  }
  &__text {
    margin-left: 12.5px;
  }
}
