mixin logo({colored = false})
  .logo
    if !colored
      .logo-gray
        img.logo-gray(src=require("@images/logo-gray.svg").default alt="round logo")
    if colored
      .logo-colored
        a.logo-colored__link(href="./landing.html")
          img.logo-colored__image(src=require("@images/logo-colored.svg").default alt="colored round logo")
          img.logo-colored__text(src=require("@images/logo-text.svg").default alt="toxin")