mixin logo({colored = false})
  .logo
    if !colored
      .logo-gray
        img.logo-gray(src=require('@images/logo-gray.svg').default)
    if colored
      .logo-colored
        img.logo-colored__image(src=require('@images/logo-colored.svg').default)
        img.logo-colored__text(src=require('@images/logo-text.svg').default)