.link {
  text-decoration: none;
  @extend %body-font;
  color: $dark-50;
  &_active {
    font-weight: bold;
    color: $dark-75;
  }

  &__material-icons {
    @extend %mat-icons;
    color: $dark-50;
    line-height: 20px;
  }
}
