.link {
  text-decoration: none;
  @extend %body-font;
  color: $dark-50;
  &_active {
    font-weight: bold;
    color: $dark-75;
  }

  &__wrapper {
    position: relative;
  }
  &__block_close {
    display: none;
  }
  &__block_open {
    position: absolute;
    background-color: #ffffff;
    list-style-type: none;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
  }

  &__material-icons {
    @extend %mat-icons;
    color: $dark-50;
    line-height: 20px;
    &_open {
      transform: rotate(180deg);
      padding-bottom: 3px;
    }
  }
}
