include /components/buttons/buttons
include /components/field/field

mixin sign-in-card
  .sign-in-card
    h1.sign-in-card__title Войти
    form.sign-in-card__form
      .sign-in-card__container.sign-in-card__container_column.sign-in-card__container_margin-b-30
        .sign-in-card__text-field
          +textField({type: "email", placeholder:"Email"})
        .sign-in-card__text-field
          +textField({type:"password", placeholder:"Пароль"})
        .sign-in-card__button_long
          +button({theme:"long",
            text:"войти",
            type :"submit"})
    .sign-in-card__container.sign-in-card__container_row
      .sign-in-card__text Нет аккаунта на Toxin?
      .sign-in-card__button
        +button({isLink: true,
          theme:"border-primary-grad",
          paddingSize: "lg",
          text:"создать",
          href :"./registration.html"})