include /components/buttons/buttons
include /components/field/field

mixin sign-in-card
  .sign-in-card
    h1.sign-in-card__title Войти
    form(action="/mock-address/change-me" method="post").sign-in-card__form
      .sign-in-card__text-field
        +textField({type: "email", placeholder:"Email"})
      .sign-in-card__text-field
        +textField({type:"password", placeholder:"Пароль"})
      .sign-in-card__button-long
        +button({theme:"long",
          text:"войти",
          type :"submit"})
    .sign-in-card__container
      p.sign-in-card__text Нет аккаунта на Toxin?
      .sign-in-card__button
        +button({type: "link",
          theme:"bordered",
          size: "lg",
          text:"создать",
          url :"../registration/registration.html"})