.sign-in-card {
  @include template-for-cards;
  padding: 40px 28px 31px 29px;
  &__title {
    @extend %h1-font;
    margin-top: 0px;
    margin-bottom: 21px;
  }
  &__form {
    margin-bottom: 30px;
    & > :nth-child(1) {
      margin-bottom: 10px;
    }
    & > :nth-child(2) {
      margin-bottom: 20px;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    @extend %body-font;
    line-height: 1.286rem;
    color: #000000;
  }
  &__button {
    width: 100%;
    max-width: 100px;
  }
}
