mixin colors (arr = {color,name, code})
  for color in arr
    .color-block
      .color-block__rectangle(class=`color-block_${color.color}`)
      .color-block__info
        span.color-block__name #{color.name}
        span.color-block__code #{color.code}
