.color-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @extend %h1-font;
  min-width: 280px;
  margin-bottom: 20px;
  box-sizing: border-box;
  &__rectangle {
    min-width: 70px;
    min-height: 70px;
    border-radius: 6px;
  }
  &__info {
    min-width: 170px;
    font-size: 1.188rem;
    line-height: 1.781rem;
    padding-top: 3px;
  }

  &__code {
    font-weight: normal;
  }
  &__dark-100 {
    background-color: $dark-100;
  }
  &__dark-75 {
    background-color: $dark-75;
  }
  &__dark-50 {
    background-color: $dark-50;
  }
  &__dark-25 {
    background-color: $dark-25;
  }
  &__dark-05 {
    background-color: $dark-05;
  }
  &__color-one {
    background-color: $color-one;
  }
  &__color-two {
    background-color: $color-two;
  }
}
