mixin colors (color,name, code)
    .color-block
        .color-block__rectangle(class='color-block__' + color)
        .color-block__info
            .color-block__name #{name}
            .color-block__code #{code}
        