mixin colors ({color,name,code})
  .color-block
    .color-block__color-area(class=`color-block__color-area_color_${color}`)
    p.color-block__info
      span.color-block__text #{name}
      span.color-block__text.color-block__text_size_narrow #{code}
