.color-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  margin-bottom: 20px;
  &__color-area {
    min-width: 70px;
    min-height: 70px;
    border-radius: 6px;
    &_type {
      &_dark-100 {
        background-color: $dark-100;
      }
      &_dark-75 {
        background-color: $dark-75;
      }
      &_dark-50 {
        background-color: $dark-50;
      }
      &_dark-25 {
        background-color: $dark-25;
      }
      &_dark-05 {
        background-color: $dark-05;
      }
      &_color-one {
        background-color: $color-one;
      }
      &_color-two {
        background-color: $color-two;
      }
    }
  }

  &__info {
    min-width: 170px;
    display: flex;
    flex-direction: column;
  }
  &__text {
    @extend %h1-font;
    font-size: 1.357rem;
    line-height: 2rem;
    &_type {
      &_narrow {
        font-weight: normal;
      }
    }
  }
}
