%h1-font {
  font-family: "Quicksand", "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: $dark-100;
}

%h2-font {
  font-family: "Quicksand", "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  color: $dark-100;
}

%h3-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.938rem;
  text-transform: uppercase;
  color: $dark-100;
}

%body-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark-75;
}

%mat-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

%awr-font {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.438rem;
}
