include /components/dropdown-date/dropdown-date
include /components/dropdown/dropdown
include /components/description/description
include /components/buttons/buttons

mixin calc-card({isLuxury = false})
  .calc-card
    form.calc-card__form
      .calc-card__container.calc-card__container_row.calc-card__container_margin-b-21
        .calc-card__room-info
          .calc-card__room-info_title
            span.calc-card__room-info_no № 
            span.calc-card__room-info_num 888
            if isLuxury
            span.calc-card__room-info_luxury  люкс
        .calc-card__price 
          span.calc-card__price_num 9 990₽
          span.calc-card__price_text  в сутки
      .calc-card__container.calc-card__container_margin-b-21
        .calc-card__dropdown-date
          +dropdownDate({type:"range",
            active:true,
            setDate: true,
            description1:"прибытие",
            description2:"выезд"})
      .calc-card__container.calc-card__container_column.calc-card__container_margin-b-18
        .calc-card__description
          +description({text:"гости"}).calc-card__description
        .calc-card__dropdown
          +dropdown({type:"guests",
            score1 :2,
            score2: 1})
      .calc-card__container.calc-card__container_column.calc-card__container_margin-b-31
        .calc-card__calculating
          .calc-card__group
            span.calc-card__text 9 990₽ х 4 суток 
            span.calc-card__text 39 960₽
          .calc-card__group.calc-card__group_margin
            .calc-card__group_block
              span.calc-card__text Сбор за услуги: скидка 2 179₽
              .calc-card__circle-item i
            span.calc-card__text 0₽
          .calc-card__group
            .calc-card__group_block
              span.calc-card__text.calc-card__text_small Сбор за дополнительные услуги
              .calc-card__circle-item i
            span.calc-card__text 300₽
      .calc-card__container.calc-card__container_padding-0.calc-card__container_margin-b-21
        .calc-card__total
          span.calc-card__total_text Итого
          span.calc-card__total_line
          span.calc-card__total_sum 38 081₽
      .calc-card__container
        .calc-card__button
          +button({theme:"long",
            text:"Забронировать",
            type: "submit"})