.calc-card {
  max-width: 380px;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 2.7857rem 1.5rem 2.1429rem 2.0714rem;
  display: flex;
  &__container {
    padding-right: 9px;
    display: flex;
    &_row {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
    &_column {
      flex-direction: column;
    }
    &_margin-b-21 {
      margin-bottom: 1.5rem;
    }
    &_margin-b-18 {
      margin-bottom: 1.2857rem;
    }
    &_margin-b-30 {
      margin-bottom: 2.1429rem;
    }
    &_padding-0 {
      padding: 0px;
    }
  }
  &__room-info {
    @extend %h1-font;
    &_no {
      font-size: 1rem;
      line-height: 1.214rem;
    }
    &_luxury {
      @extend %h3-font;
      color: $color-one;
    }
  }
  &__price {
    @extend %body-font;
    line-height: 1.286rem;
    font-weight: 700;
    color: $dark-50;
    &_text {
      font-size: 0.857rem;
      font-weight: 400;
    }
  }
  &__description {
    margin-bottom: 0.2143rem;
  }
  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @extend %body-font;
    &_block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 250px;
    }
    &_margin {
      margin-top: 0.7143rem;
      margin-bottom: 1.0714rem;
    }
  }
  &__text {
    @extend %body-font;
    &_small {
      line-height: 1.286rem;
      max-width: 214px;
    }
  }

  &__total {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @extend %h2-font;
    &_text {
      position: relative;
      z-index: 1;
      background: #fff;
      padding-right: 0.3571rem;
    }
    &_sum {
      position: relative;
      z-index: 1;
      background: #fff;
      padding-left: 0.3571rem;
    }
    &_line {
      width: 100%;
      height: 1px;
      border-top: 1px dashed $dark-25;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
  &__circle-item {
    height: min-content;
    padding: 0.1571rem 0.5286rem;
    @extend %body-font;
    font-weight: 700;
    color: $dark-25;
    line-height: 1rem;
    font-size: 0.857rem;
    border: 1px solid $dark-25;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  &__button {
    width: 100%;
    display: flex;
  }
}
