.calc-card {
  max-width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 39px 21px 29px 30px;

  &__wrapper {
    margin-right: 8px;
    margin-bottom: 32px;
    font-family: $sans-serif-font;
    font-style: normal;
  }

  &__room-info {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 22px;
    width: 100%;
  }

  &__number {
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;
    color: $dark-100;

    &-info {
      margin: 0px;
    }

    &_size {
      &_small {
        font-size: 1rem;
        line-height: 1.214rem;
      }
    }

    &-lux {
      font-weight: bold;
      font-size: 0.857rem;
      line-height: 1.071rem;
      text-transform: uppercase;
      color: $color-one;
    }
  }

  &__price {
    line-height: 1.286rem;
    font-weight: 700;
    font-size: 1rem;
    color: $dark-50;

    &-info {
      margin: 0px;
    }

    &_size {
      &_small {
        font-size: 0.857rem;
        font-weight: 400;
      }
    }
  }

  &__dropdown-date {
    margin-bottom: 21px;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__calculating-items {
    margin: 0px;
    padding: 0px;

    & > :nth-of-type(2) {
      margin-top: 11px;
      margin-bottom: 12.7px;
    }
  }

  &__item {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    color: $dark-75;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-calculating {
      width: 80%;
      max-width: 240px;
      margin: 0px;

      &_size {
        &_small {
          line-height: 1.286rem;
        }
      }

      &_type {
        &_with-icon {
          padding-right: 20px;
          position: relative;
          
          &::before {
            content: 'i';
            width: 20px;
            height: 20px;
            position: absolute;
            right: 1px;
            top: 1px;
            font-weight: bold;
            font-size: 0.857rem;
            line-height: 1.071rem;
            text-transform: lowercase;
            color: $dark-25;
            border: 1px solid $dark-25;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &-total {
      white-space: nowrap;
      text-align: right;
      width: 20%;
      margin: 0px;
      margin-left: 10px;
    }
  }

  &__total {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 22px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    &-text {
      font-weight: bold;
      font-size: 1.357rem;
      line-height: 1.643rem;
      color: $dark-100;
      white-space: nowrap;
    }

    &-line {
      width: 100%;
      position: relative;
      bottom: 4px;
      border-bottom: 1px dashed $dark-25;
    }
  }

  &__button {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: $xxs) {
  .calc-card {
    padding-left: 20px;
    padding-right: 20px;

    &__wrapper {
      margin-right: 0px;
    }

    &__item-calculating {
      line-height: 1.286rem;
      max-width: 210px;
      padding-right: 30px;
      &::before {
        top: 7px;
      }
    }
  }
}
