mixin logo-colored
    .logo-colored&attributes(attributes)
        img.logo-colored__image(src=require('@images/logo-colored.svg').default)
        img.logo-colored__text(src=require('@images/logo-text.svg').default)