.text-block {
  margin-left: 427px;
  width: 403px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  &__headers-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    color: rgba(31, 32, 65, 0.25);
  }
  &__inform-list {
    display: flex;
    flex-direction: column;
    color: #1f2041;
  }
  &__inform {
    margin-bottom: 50px;
  }
}
.headers {
  &_name-h1 {
    margin-bottom: 80px;
  }
  &_name-h2 {
    margin-bottom: 74px;
  }
  &_name-h3 {
    margin-bottom: 50px;
  }
}
.headers-inform_font {
  &-h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
  }
  &-h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
  }
  &-h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;
  }
  &-body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
.inform_style {
  &-h1 {
    font-family: "Quicksand";
    font-weight: bold;
  }
  &-h2 {
    font-family: "Quicksand";
    font-weight: bold;
  }
  &-h3 {
    font-weight: bold;
  }
  &-body {
    color: rgba(31, 32, 65, 0.75);
    width: 301px;
  }
}
