mixin text-types
  .text-types
    .text-types__headers
      .text-types__headers_h1 H1
      .text-types__headers_h2 H2
      .text-types__headers_h3 H3
      .text-types__headers_body Body
    .text-types__content
      .text-types__content_h1 This one is the sub-section or widget title
      .text-types__content_h2 Next one is the item title inside widgets
      .text-types__content_h3 This is a label or CTA text
      .text-types__content_body This is the body text which is used for most of the design, like paragraphs, lists, etc.