.search-card {
  @include template-for-cards;
  padding: 39px 28px 29px 29px;
  &__title {
    @extend %h1-font;
    margin-top: 0px;
    margin-bottom: 23px;
  }
  &__date {
    margin-bottom: 22px;
  }
  &__container {
    margin-bottom: 31px;
  }
  &__description {
    margin-bottom: 5.7px;
  }
}
