include /components/dropdown-date/dropdown-date
include /components/dropdown/dropdown
include /components/description/description
include /components/buttons/buttons

mixin search-card({activeCalendar=true}={})
  .search-card
    h1.search-card__title Найдём номера под ваши пожелания
    form(action="/mock-address/change-me" method="post").search-card__form
      .search-card__container.search-card__container_margin-b-22
        .search-card__date
          +dropdownDate({type: "range",
            active:activeCalendar,
            description1:"прибытие",  
            description2: "выезд"})
      .search-card__container.search-card__container_column.search-card__container_margin-b-30
        .search-card__description
          +description({text:"гости"})
        .search-card__dropdown
          +dropdown({type:"guests"})
      .search-card__container
        .search-card__button
          +button({theme:"long",
            text:"подобрать номер",
            type: "submit"})