.text-field {
  width: 100%;
  flex-grow: 1;
  &__label {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &_subscribe {
      position: relative;
      &::before {
        content: 'arrow_forward';
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %mat-icons;
        position: absolute;
        right: 0px;
        top: 0px;
        @extend %primary-grad;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__input {
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: inherit;
    @extend %body-font;
    padding: 12.2px 15px;

    border: 1px solid $dark-25;
    line-height: 129%;
    color: $dark-25;
    flex-shrink: 1;
    &::-webkit-input-placeholder {
      color: $dark-25;
    }
    &_mask {
      border: 1px solid $dark-25;
      line-height: 129%;
      color: $dark-25;
      flex-shrink: 0;
    }
    &_subscribe {
      width: 100%;
      padding-right: 44px;
    }
    &_hover {
      border: 1px solid $dark-50;
      flex-shrink: 0;

      &::placeholder {
        color: $dark-75;
      }
      &::-moz-placeholder {
        color: $dark-75;
        opacity: 1;
      }
    }
    &:hover {
      border: 1px solid $dark-50;
      &::placeholder {
        color: $dark-75;
      }
      &::-webkit-input-placeholder {
        color: $dark-75;
      }
      &::-moz-placeholder {
        color: $dark-75;
        opacity: 1;
      }
    }
    &:focus {
      border: 1px solid $dark-50;
      color: $dark-75;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
      &::-webkit-input-placeholder {
        color: $dark-75;
      }
      &::-moz-placeholder {
        color: $dark-75;
        opacity: 1;
      }
    }
  }
}
