.description {
  width: 100%;
  @extend %h3-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
  &__condition {
    color: $dark-50;
    font-weight: normal;
  }
}
