mixin description({type,text, condition})
  if type == 'default'
        .description&attributes(attributes)
            span.description__text #{text}
  else if type == 'text with state'
        .description&attributes(attributes)
            span.description__text #{text}
            span.description__condition #{condition}
