mixin description(text, typeVisible=false, typeInfo)
    if typeVisible
        .description&attributes(attributes)
            span.description__item #{text}
            span.description__type #{typeInfo}
    else 
        .description&attributes(attributes)
            span.description__item #{text}
