mixin description({type="default",text, condition}={})
  if type == "default"
    .description
      h3.description__text #{text}
  else if type == "text with state"
    .description
      h3.description__text #{text}
      span.description__condition #{condition}
