mixin description({type,text, state})
    if type == 'text with state'
        .description&attributes(attributes)
            span.description__item.description__item_margin-s #{text}
            span.description__type #{state}
    else if type == 'big margin'
        .description&attributes(attributes)
            span.description__item.description__item_margin-m #{text}
    else if type == 'small margin'
        .description&attributes(attributes)
            span.description__item.description__item_margin-s #{text}
