.description {
  width: 100%;
  @extend %h3-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;

  &__type {
    color: $dark-50;
    font-weight: normal;
  }
  &__item {
    &_margin-s {
      margin-bottom: 5px;
    }
    &_margin-m {
      margin-bottom: 15px;
    }
  }
}
