mixin description({type='default',text, condition})
  if type == 'default'
    .description&attributes(attributes)
      h3.description__text #{text}
  else if type == 'text with state'
    .description&attributes(attributes)
      h3.description__text #{text}
      .description__condition #{condition}
