mixin description({type="default",text, condition}={})
  if type == "default"
    .description
      p.description__text #{text}
  else if type == "text with state"
    .description
      p.description__text #{text}
      p.description__condition #{condition}
