include /components/links/links
include /components/logo/logo
include /components/buttons/buttons

mixin header({userName=false})
  - const {linkList,buttonsSettings} = require('@components/header/header.json')
  .header
    .header__container

      .header__content-block
        .header__logo
          +logo({colored:true})

      .header__content-block

        .header__burger-menu.js-header__burger-menu
          .header__burger-menu_open.js-header__burger-menu_open
            i.header__material-icons menu
          .header__burger-menu_close.js-header__burger-menu_close.header__burger-menu_hidden
            i.header__material-icons close

        .header__menu.js-header__menu
          nav.header__nav-bar
            ul.header__link_list
              for link in linkList
                li.header__link_item
                  +link(link)
          if userName 
            .header__user-info
              .header__vert-block
              .header__user-name  Юлий Цезарь
          else
            .header__buttons-block
              .header__button.header__button_margin
                +button(buttonsSettings.one)
              .header__button
                +button(buttonsSettings.two)

