include /components/link/link
include /components/logo/logo
include /components/button/button

mixin header({userName=false}={})
  - 
    const {linkList,
      buttonsSettings:{signIn, registration}
      } = require("@components/header/header.json");

  .header
    .header__container
      .header__logo
        +logo({colored:true})

      .header__content-block

        .header__burger-menu.js-header__burger-menu
          .header__menu-icon.header__menu-icon_opened.js-header__menu-icon_opened
            i.header__icon menu
          .header__menu-icon.header__menu-icon_closed.js-header__menu-icon_closed.header__menu-icon_hidden
            i.header__icon close

        nav.header__nav-bar.js-header__nav-bar
          ul.header__link-list
            for link in linkList
              li.header__link-item
                +link(link)
          if userName 
            .header__user-info
              .header__vert-block
              p.header__user-name  Юлий Цезарь
          else
            .header__buttons-block
              .header__button.header__button_size_s
                +button(signIn)
              .header__button.header__button_size_m
                +button(registration)

