extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/simple-footer/simple-footer
include /components/logo/logo

block head
  title Headers&Footers   
  body
    .headers-footers
      header.headers-footers__header
        .headers-footers__logo
          +logo
      main.headers-footers__content-block
        .headers-footers__content
          +header
        .headers-footers__content
          +header({userName : true})
        .headers-footers__content
          +footer
        .headers-footers__content
          +simple-footer
