extends /layout/uikit/uikit
include /layout/header/header
include /layout/footer/footer
include /layout/footer-small/footer-small

block head
  title Headers&Footers

block body
    .container
        .container__content
            +header
        .container__content
            +header(true,true)
        .container__content
            +footer
        .container__content
            +footer-small
