mixin sample-text
    .sample-text&attributes(attributes)
        .sample-text__headers
            .sample-text__headers_h1 H1
            .sample-text__headers_h2 H2
            .sample-text__headers_h3 H3
            .sample-text__headers_body Boby
        .sample-text__content
            .sample-text__content_h1 This one is the sub-section or widget title
            .sample-text__content_h2 Next one is the item title inside widgets
            .sample-text__content_h3 This is a label or CTA text
            .sample-text__content_body This is the body text which is used for most of the design, like paragraphs, lists, etc.