mixin sample-text
    .sample-text
        .sample-text__headers
            .sample-text__headers-block.sample-text_headers-h1 H1
            .sample-text__headers-block.sample-text_headers-h2 H2
            .sample-text__headers-block.sample-text_headers-h3 H3
            .sample-text__headers-block.sample-text_headers-body Boby
        .sample-text__content
            .sample-text__content-block.sample-text_content-h1 This one is the sub-section or widget title
            .sample-text__content-block.sample-text_content-h2 Next one is the item title inside widgets
            .sample-text__content-block.sample-text_content-h3 This is a label or CTA text
            .sample-text__content-block.sample-text_content-body This is the body text which is used for most of the design, like paragraphs, lists, etc.