mixin sample-text
    .sample-text&attributes(attributes)
        .headers.sample-text__headers
            .headers.headers_h1 H1
            .headers.headers_h2 H2
            .headers.headers_h3 H3
            .headers.headers_body Body
        .sample-text__content
            .content.content_h1 This one is the sub-section or widget title
            .content.content_h2 Next one is the item title inside widgets
            .content.content_h3 This is a label or CTA text
            .content.content_body This is the body text which is used for most of the design, like paragraphs, lists, etc.