.checkbox {
  display: flex;
  align-items: flex-start;
  position: relative;

  &__label {
    display: flex;
    justify-content: center;
    cursor: pointer;
    @extend %body-font;
    line-height: 1.286rem;
    color: $dark-50;
    padding-left: 30px;
    &_type {
      &_rich {
        flex-direction: column;
      }
    }
  }

  &__input {
    display: none;
  }

  &__mark {
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: 1px solid $dark-25;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* checkbox mark by https://codepen.io/fanmanutd/pen/NWqNoKp */
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      border-width: 0 2px 2px 0;
      border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-color: transparent;
      border-image-slice: 1;
      border-style: solid;
      border-radius: 0;
      transform: rotate(45deg);
      opacity: 0;
    }
  }
  &__header {
    color: $dark-75;
    line-height: 1.286rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }
  &__text {
    line-height: 1.286rem;
    color: $dark-50;
    white-space: pre-wrap;
    &_type {
      &_rich {
        line-height: 1rem;
        font-size: 0.857rem;
      }
    }
    &_width {
      &_medium {
        max-width: 200px;
      }
      &_large {
        max-width: 230px;
      }
    }
  }
}

.checkbox__input:checked + .checkbox__mark::before {
  border: 1px solid $color-one;
}

.checkbox__input:checked + .checkbox__mark::after {
  opacity: 1;
}
