.bullet-list {
  width: 100%;
  max-width: 290px;
  cursor: default;

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }

  &__item {
    width: 90%;
    font-family: $sans-serif-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    color: $dark-75;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: $dark-25;
      margin-top: 7px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}
