mixin bulletList(options = {})
  - 
    var options = [
      {"Нельзя с питомцами"},
      {"Без вечеринок и мероприятий"},
      {"Время прибытия — после 13:00, а выезд до 12:00"},
    ]

  .bullet-list
    ul.bullet-list__items
      each item in options
        li.bullet-list__item #{item}