@font-face {
  font-family: "Quicksand";
  src: url("./font/Quicksand/Quicksand Bold.woff") format("woff"),
    url("./font/Quicksand/Quicksand Bold.ttf") format("truetype"),
    url("./font/Quicksand/Quicksand Bold.svg") format("svg");
  font-style: normal;
  font-weight: bold;
}
