.footer {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  &__content-block {
    &_primary-shadow {
      @extend %shadow-bg-primary;
    }
    &_secondary-shadow {
      @extend %shadow-bg-secondary;
      margin-top: 1px;
    }
    &_wrapper {
      max-width: 1200px;
      padding: 100px 20px 81px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &_copyright-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 23px 20px;
    }
  }
  &__block {
    &_logo-info {
      max-width: 260px;
      margin-right: 40px;
    }
    &_navigation {
      display: flex;
      flex-direction: row;
      width: 600px * 100%/ 1160px;
      padding-top: 5px;
    }
    &_subscription {
      max-width: 260px;
      padding-top: 5px;
    }
    &_copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-bottom: 17px;
  }
  &__text {
    @extend %body-font;
    cursor: default;
    display: flex;
    &_margin {
      margin-bottom: 24px;
    }
  }
  &__nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__link {
    &_list {
      display: flex;
      flex-direction: column;
    }
    &_item {
      list-style-type: none;
      margin-bottom: 20px;
      @extend %body-font;
      line-height: 1.3rem;
      color: $dark-50;
    }
  }

  &__header {
    @extend %h3-font;
    margin-bottom: 21px;
    &_margin-b-18 {
      margin-bottom: 18px;
    }
  }
}

/*

<------------ @media 769px -- 960px ---------->

*/

@media (min-width: 769px) and (max-width: 960px) {
  .footer {
    &__content-block_wrapper {
      justify-content: space-around;
    }
    &__block {
      &_navigation {
        display: none;
      }
    }
  }
}

/*

<------------ @media 768px ---------->

*/
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
