include /components/logo/logo
include /components/links/links
include /components/field/field
include /components/social-icons/social-icons

mixin footer
  - const {navigationLinks, aboutUsLinks,supportServiceLinks} = require("@components/footer/footer.json")
  .footer
    .footer__container
      .footer__block-logo
        .footer__logo
          +logo({colored: true})
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      nav.footer__block-navigation
        ul.footer__link-list 
          li.footer__link-title Навигация
          for linkNav in navigationLinks
            li.footer__link-item
              +link(linkNav)
        ul.footer__link-list 
          li.footer__link-title О нас
          for link in aboutUsLinks
            li.footer__link-item
              +link(link)
        ul.footer__link-list 
          li.footer__link-title Служба поддержки
          for linkSupport in supportServiceLinks
            li.footer__link-item
              +link(linkSupport)

      .footer__block-subscription
        p.footer__header.footer__header_margin-b-18 Подписка
        p.footer__text.footer__text_margin Получайте специальные предложения и новости сервиса
        form(action="/mock-address/change-me" method="post").footer__email-field
          +textField({type: "email", placeholder: "Email", arrow: true})

    .footer__container-copyright
      .footer__block-copyright
        p.footer__text Copyright &#169; 2018 Toxin отель. Все права защищены.
        .footer__social
          +socialIcons

