.footer {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  &__container {
    @extend %shadow-bg-primary;
    max-width: 1200px;
    padding: 100px 20px 81px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-copyright {
      @extend %shadow-bg-secondary;
      border-top: 1px solid #e5e5e5;
    }
  }
  &__block {
    &-logo {
      max-width: 260px;
      margin-right: 40px;
    }
    &-navigation {
      display: flex;
      flex-direction: row;
      width: 600px * 100%/ 1160px;
      padding-top: 5px;
    }
    &-subscription {
      max-width: 260px;
      padding-top: 5px;
    }
    &-copyright {
      max-width: 1200px;
      margin: 0 auto;
      padding: 23px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-bottom: 17px;
  }
  &__text {
    @extend %body-font;
    cursor: default;
    display: flex;
    &_margin {
      margin-bottom: 24px;
    }
  }
  &__link {
    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 30px;
    }
    &-title {
      list-style-type: none;
      @extend %h3-font;
      margin-bottom: 21px;
    }
    &-item {
      list-style-type: none;
      margin-bottom: 20px;
      @extend %body-font;
      line-height: 1.3rem;
      color: $dark-50;
    }
  }

  &__header {
    @extend %h3-font;
    margin-bottom: 21px;
    &_margin-b-18 {
      margin-bottom: 18px;
    }
  }
}

@include bp-960 {
  .footer {
    &__content-block_wrapper {
      justify-content: space-around;
    }
    &__block {
      &-navigation {
        display: none;
      }
    }
  }
}

@include bp-768 {
  .footer {
    display: none;
  }
}
