mixin colors (color,info_p1, info_p2)
    .color-block__item.item
        .color-block__rectangle.rectangle(class='rectangle_' + color)
        p.color-block__name.name
            span.color-block_font-bold #{info_p1}
            br 
            |#{info_p2}
        