mixin iconList({typeIcon, header, text,isBlockLine=true}={})
  .icon-list
    .icon-list__container
      .icon-list__block
        i.icon-list__icon #{typeIcon}
      .icon-list__block
        p.icon-list__text-block
          span.icon-list__header #{header}
          span.icon-list__text #{text}
    if isBlockLine
      .icon-list__block-line
