.icon-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    max-width: 280px;
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;
  }
  &__material-icons {
    max-width: 48px;
    align-self: center;
    @extend %mat-icons;
    font-size: 3.429rem;
    line-height: 2.929rem;
    @extend %primary-grad;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__block {
    margin-right: 10px;
    display: flex;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    display: inline;
    vertical-align: bottom;
    @extend %body-font;
    &_bold {
      font-weight: bold;
      padding-top: 1px;
      margin-bottom: 5px;
    }
  }
  &__block-line {
    max-width: 280px;
    height: 1px;
    background: $dark-10;
  }
}
