$img-path: '~@/assets/images/';

@mixin add-background-image(
  $imgname,
  $position: center,
  $repeat: no-repeat,
  $size: cover
) {
  background: {
    image: url($img-path + $imgname);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}

@mixin font-face($font-name, $path, $weight: 400, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + '.woff2') format('woff2'),
      url($path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin page-settings {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin flex-and-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@mixin chart-colors($color) {
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    background: $color;
  }
}

@mixin template-for-cards {
  max-width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
