@mixin image-animation {
  animation: animationFrames linear 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/
}

@keyframes animationFrames {
  0% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@mixin bg-color-animation {
  transition: background 0.5s ease;
}
@mixin font-face($font-name, $path, $weight: 400, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + '.woff2') format('woff2'),
      url($path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin pageSettings {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin chartColors($color) {
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    background: $color;
  }
}
