include /components/logo/logo-colored/logo-colored 
include /components/copyright-bar/copyright-bar 

mixin footer-small
  footer.footer-small
    .footer-small__wrapper
      .footer-small__logo
        +logo-colored
      .footer-small__copyright-bar
        +copyright-bar({infoBlockMargin:true})
