include ../../../components/dropdown-date/dropdown-date
include ../../../components/dropdown/dropdown
include ../../../components/description/description
include ../../../components/buttons/buttons

mixin search-card
    .search-card&attributes(attributes)
        p.search-card__title Найдём номера под ваши пожелания
        form.search-card__content
            .search-card__block-date
                +dropdown_date('double',false,'ДД.ММ.ГГГГ', 'прибытие', 'ДД.ММ.ГГГГ', 'выезд',false).search-card__dropdown-date
            .search-card__block-dropdown
                +description('гости').search-card__decription
                +dropdown('guests',0,0,0).search-card__dropdown
            .search-card__block-button
                +button('long','подобрать номер').search-card__button