mixin toggle(options={})
  - const { text, checked = false } = options;

  .toggle
    label.toggle__label #{text}
      input.toggle__input(
        type="checkbox",
        checked=checked)
      span.toggle__control
