.toggle {
  &__label {
    position: relative;
    cursor: pointer;
    @extend %body-font;
    padding-left: 50px;
  }
  &__input {
    display: none;
  }
  &__control {
    padding: 9px 19px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;

    background: #fff;
    border: 1px solid $dark-25;
    border-radius: 10px;
    transition: 0.3s;
    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 3px;
      bottom: 2px;

      background: $dark-25;
      width: 12px;
      height: 12px;

      border-radius: 50%;
      transition: 0.3s;
    }
  }
}
.toggle__input:checked + .toggle__control {
  border: 1px solid $color-one;
}
.toggle__input:checked + .toggle__control::before {
  transform: translateX(18px);
  @extend %primary-grad;
}
