@import '../../../node_modules/lightslider/dist/css/lightslider.min.css';
.room-card {
  max-width: 270px;
  @extend %shadow-bg-secondary;
  border-radius: 4px;
  &__container {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px 17px 15px 20px;
  }
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__room {
    &-number {
      @extend %h2-font;
      &_size {
        &_small {
          font-size: 1rem;
          line-height: 1.214rem;
        }
      }
    }
    &-lux {
      @extend %h3-font;
      color: $color-one;
    }
  }
  &__price {
    align-self: flex-end;
    height: 100%;
    &-text {
      @extend %body-font;
      line-height: 1.286rem;
      font-weight: 700;
      color: $dark-50;
      padding-left: 1px;
      &_size {
        &_small {
          font-size: 0.857rem;
          font-weight: 400;
        }
      }
    }
  }
  &__line {
    width: 100%;
    border-top: 1px solid $dark-10;
    margin-top: 12px;
    margin-bottom: 11px;
  }
  &__reviews {
    padding-bottom: 5px;
    padding-right: 3px;
    &-text {
      @extend %body-font;
      line-height: 1.125rem;
      font-weight: 700;
      color: $dark-50;
      &_size {
        &_narrow {
          font-weight: 400;
        }
      }
    }
  }
}

.lSSlideOuter {
  position: relative;
  max-width: 270px;
  border-radius: 4px 4px 0px 0px;
}
.lSSlideOuter .lSPager.lSpg {
  margin-right: 14px;
  margin-bottom: 12px;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  margin-right: 3.75px;
  padding: 0px;
  &:last-of-type {
    margin-right: 0;
  }
}
.lSSlideOuter .lSPager.lSpg > li a {
  border: 1px solid #fff;
  background-color: transparent;
}
.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}
a > .material-icons {
  @extend %mat-icons;
  opacity: 0;
  color: #fff;
}
.lSSlideOuter:hover .lSPrev {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  & i {
    opacity: 1;
  }
}

.lSSlideOuter:hover .lSNext {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  & i {
    opacity: 1;
  }
}

.lSAction > a {
  width: 42px;
  height: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 0;
  margin-top: 0px;
}

.lSAction > .lSPrev {
  left: 0px;
  & > i {
    transform: rotate(90deg);
  }
}
.lSAction > .lSNext {
  right: 0px;
  & > i {
    transform: rotate(-90deg);
  }
}
