@font-face {
  font-family: "Montserrat";
  src: url("./font/montserrat-bold/Montserrat-Bold.ttf") format("truetype"),
    url("./font/montserrat-bold/Montserrat-Bold.woff") format("woff"),
    url("./font/montserrat-bold/Montserrat-Bold.svg") format("svg");
  font-style: normal;
  font-weight: bold;
}
