extends  /layout/uikit/uikit
include /layout/cards/search-card/search-card
include /layout/cards/registration-card/registration-card
include /components/dropdown-date/dropdown-date
include /layout/cards/sign-in-card/sign-in-card
include /layout/cards/room-card/room-card
include /layout/cards/calc-card/calc-card


block head
  title Cards

block body
  - const {room1,room2} = require('./cards.json')
    .cards
        .cards__container
         +search-card
        .cards__container
          +calc-card('888','9 990',true)
        .cards__container
          +dropdown_date('inline')
        .cards__container
          +registration-card
        .cards__container
          +sign-in-card
        .cards__container
          +room-card('luxury','888', '9 990₽',5 ,'145', room1).cards__room
          +room-card('standart','840', '9 900₽',4 ,'65', room2).cards__room