.cards {
  background: #f4f4f6;
  &__logo {
    padding-top: 30px * 100%/ 1410px;
    padding-left: 30px * 100%/ 1410px;
  }
  &__content-block {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 100px;
  }
  &__content-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__container {
    &_column {
      display: flex;
      flex-direction: column;
      max-width: 380px;
    }
  }
  &__item {
    margin-bottom: 40px;
  }
}
