extends /layout/page-head/page-head
include /components/cards/search-card/search-card
include /components/cards/registration-card/registration-card
include /components/dropdown-date/dropdown-date
include /components/cards/sign-in-card/sign-in-card
include /components/cards/room-card/room-card
include /components/cards/calc-card/calc-card
include /components/logo/logo-gray/logo-gray

block head
  title Cards
  - const {room1,room2} = require('./cards.json')
  body.cards
    header.cards__header
      .cards__logo
        +logo-gray
    main.cards__content-block
      .cards__container_column.cards__container_margin
        .cards__item
          +search-card(false)
        .cards__item
          +registration-card
      .cards__container_column.cards__container_margin
        .cards__item
          +calc-card(true)
        .cards__item
          +sign-in-card
      .cards__container_column
        +dropdownDate('inline')
        +room-card('luxury','888', '9 990₽',5 ,'145', room1)
        +room-card('standart','840', '9 900₽',4 ,'65', room2)