extends  /layout/uikit/uikit
include /layout/cards/search-card/search-card
include /layout/cards/registration-card/registration-card
include /components/dropdown-date/dropdown-date
include /layout/cards/sign-in-card/sign-in-card


block head
  title Cards

block body
    .container
        .containner__content
          +search-card.cards
        .containner__content
        .containner__content
          +dropdown_date('inline')
        .containner__content
          +registration-card
        .container__content
          +sign-in-card