.footer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  &__block {
    width: 100%;
    &_primary-shadow {
      @extend %shadow-bg-primary;
    }
    &_secondary-shadow {
      @extend %shadow-bg-secondary;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
    &_bottom {
      top: 371px;
      left: 0;
    }
  }
  &__container-widgets {
    max-width: 1200px;
    padding: 100px 20px 80px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__logo-info {
    width: 260px;
    flex-shrink: 0;
    margin-right: 40px;
  }
  &__logo-colored {
    margin-bottom: 17px;
  }
  &__info {
    @extend %body-font;
    cursor: default;
    line-height: 171%;
  }
  &_list {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  &__nav {
    margin-right: 57px * 100%/ 1160px;
  }
  &__about-us {
    margin-right: 92px * 100%/ 1160px;
  }
  &__support-service {
    margin-right: 51px * 100%/ 1160px;
  }
  &__subscription {
    max-width: 260px;
    flex-shrink: 0;
  }

  &__item {
    line-height: 1.063rem;
    margin-bottom: 21px;
    padding: 0;
  }
  &__item_header {
    @extend %h3-font;
    height: 1.125rem;
    margin-bottom: 18px;
    cursor: default;
  }
  &__field {
    margin-top: 21px;
  }

  &__container-copy {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  &__copyright-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/*

<------------ @media 1025px -- 1200px---------->

*/

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    &__container-widgets {
      justify-content: space-between;
    }
    &__about-us {
      margin-right: 50px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

/*

<------------ @media 961px -- 1024px ---------->

*/

@media (min-width: 961px) and (max-width: 1024px) {
  .footer {
    &__container-widgets {
      justify-content: space-between;
    }
    &__nav {
      margin-right: 30px * 100%/ 1024px;
    }
    &__about-us {
      margin-right: 30px * 100%/ 1024px;
    }
    &__support-service {
      margin-right: 30px * 100%/ 1024px;
    }
    &__logo-info {
      margin-right: 40px * 100%/ 1024px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

/*

<------------ @media 769px -- 960px ---------->

*/

@media (min-width: 769px) and (max-width: 960px) {
  .footer {
    &__container-widgets {
      justify-content: space-between;
    }
    &__nav {
      margin-right: 30px * 100%/ 1024px;
    }
    &__about-us {
      margin-right: 30px * 100%/ 1024px;
    }
    &__support-service {
      margin-right: 30px * 100%/ 1024px;
    }
    &__logo-info {
      margin-right: 40px * 100%/ 1024px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
    &__subscription {
      display: none;
    }
  }
}

/*

<------------ @media 768px ---------->

*/
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
