include /components/logo/logo-colored/logo-colored
include /components/links/links
include /components/field/field
include /components/copyright-bar/copyright-bar

mixin footer
        footer.footer&attributes(attributes)
            .footer__line
            .footer__container-widgets
                .footer__logo-info
                    +logo-colored.footer__logo-colored
                    .footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                nav.footer__nav.footer_list
                    p.footer__item.footer__item_header Навигация
                    +link('default','О нас').footer__item
                    +link('default','Новости').footer__item
                    +link('default','Служба поддержки').footer__item
                    +link('default','Услуги').footer__item
                nav.footer__about-us.footer_list
                    p.footer__item.footer__item_header О нас
                    +link('default','О сервисе').footer__item
                    +link('default','Наша команда').footer__item
                    +link('default','Вакансии').footer__item
                    +link('default','Инвесторы').footer__item
                nav.footer__support-service.footer_list
                    p.footer__item.footer__item_header.footer__item_margin Служба поддержки
                    +link('default','Соглашения').footer__item
                    +link('default','Сообщества').footer__item
                    +link('default','Связь с нами').footer__item
                .footer__subscription.footer_list
                    .footer__item.footer__item_header Подписка
                    .footer__info Получайте специальные предложения и новости сервиса
                    +field('sub','Email').footer__field
            .footer__line.footer__line_bottom
            .footer__container-copy
                +copyright-bar('footer__copyright-bar')
            
