.footer {
  @extend %shadow-bg;
  width: 100%;
  box-sizing: border-box;
  padding-left: 140px * 100%/1440px;
  padding-right: 140px * 100%/1440px;

  &__container-widgets {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo-info {
    width: 260px;
    flex-shrink: 0;
    margin-right: 40px;
  }
  &__logo-colored {
    margin-bottom: 20px;
  }
  &__info {
    @extend %body-font;
  }
  &_list {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  &__nav {
    margin-right: 57px * 100%/ 1160px;
  }
  &__about-us {
    margin-right: 92px * 100%/ 1160px;
  }
  &__support-service {
    margin-right: 51px * 100%/ 1160px;
  }
  &__subscription {
    max-width: 260px;
    flex-shrink: 0;
  }

  &__item {
    line-height: 1.063rem;
    margin-bottom: 20px;
  }
  &__item_header {
    @extend %h3-font;
    height: 1.125rem;
    margin-bottom: 21px;
    cursor: default;
  }
  &__field {
    margin-top: 20px;
  }
  &__container-border {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
  &__container-copy {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    @extend %shadow-copy-bg;
  }
  &__copyright-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 23px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    padding: 0px 20px;
    box-sizing: border-box;
    &__container-widgets {
      justify-content: space-between;
    }
    &__about-us {
      margin-right: 50px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  .footer {
    padding: 0px 20px;
    box-sizing: border-box;
    &__container-widgets {
      justify-content: space-between;
    }
    &__nav {
      margin-right: 30px * 100%/ 1024px;
    }
    &__about-us {
      margin-right: 30px * 100%/ 1024px;
    }
    &__support-service {
      margin-right: 30px * 100%/ 1024px;
    }
    &__logo-info {
      margin-right: 40px * 100%/ 1024px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .footer {
    padding: 0px 20px;
    box-sizing: border-box;
    &__container-widgets {
      justify-content: space-between;
    }
    &__nav {
      margin-right: 30px * 100%/ 1024px;
    }
    &__about-us {
      margin-right: 30px * 100%/ 1024px;
    }
    &__support-service {
      margin-right: 30px * 100%/ 1024px;
    }
    &__logo-info {
      margin-right: 40px * 100%/ 1024px;
    }
    &__item_margin {
      margin-top: 5px;
      margin-bottom: 30px;
    }
    &__subscription {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
