include /components/logo/logo-colored/logo-colored
include /components/links/links
include /components/field/field
include /components/copyright-bar/copyright-bar

mixin footer
    footer.footer&attributes(attributes)
        .footer__container-widgets
            .footer__logo-info
                +logo-colored.footer__logo-colored
                .footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__nav.footer_list
                p.footer__item.footer__item_header Навигация
                +link('О нас').footer__item
                +link('Новости').footer__item
                +link('Служба поддержки').footer__item
                +link('Услуги').footer__item
            .footer__about-us.footer_list
                p.footer__item.footer__item_header О нас
                +link('О сервисе').footer__item
                +link('Наша команда').footer__item
                +link('Вакансии').footer__item
                +link('Инвесторы').footer__item
            .footer__support-service.footer_list
                p.footer__item.footer__item_header Служба поддержки
                +link('Соглашения').footer__item
                +link('Сообщества').footer__item
                +link('Связь с нами').footer__item
            .footer__subscription.footer_list
                p.footer__item.footer__item_header Подписка
                p.footer__item.footer__info Получайте специальные предложения и новости сервиса
                +field('sub','Email', 'lin-grad-theme', 'arrow_forward').footer__field
        .footer__container-border
        .footer__container-copy
            +copyright-bar('footer__copyright-bar')