include /components/logo/logo-colored/logo-colored
include /components/links/links
include /components/copyright-bar/copyright-bar
include /components/field/field

mixin footer
  - const {navigationLinks, aboutUsLinks,supportServiceLinks} = require('@layout/footer/footer.json')
  footer.footer
    .footer__container
      .footer__content-block_primary-shadow
        .footer__content-block_wrapper
          .footer__block_logo-info
            .footer__logo
              +logo-colored
            .footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          .footer__block_navigation
            nav.footer__nav-bar
              ul.footer__link_list 
                h3.footer__header Навигация
                for linkNav in navigationLinks
                  li.footer__link_item
                    +link(linkNav)
            nav.footer__nav-bar
              ul.footer__link_list 
                h3.footer__header О нас
                for link in aboutUsLinks
                  li.footer__link_item
                    +link(link)
            nav.footer__nav-bar
              ul.footer__link_list 
                h3.footer__header Служба поддержки
                for linkSupport in supportServiceLinks
                  li.footer__link_item
                    +link(linkSupport)
          .footer__block_subscription
            .footer__header.footer__header_margin-b-18 Подписка
            .footer__text.footer__text_margin Получайте специальные предложения и новости сервиса
            .footer__email-field
              +textField({"type": 'subscribe', "placeholder":'Email'})
      .footer__content-block_secondary-shadow
        .footer__content-block_copyright-wrapper
          .footer__block_copyright
            +copyright-bar({flexColumn: false})

