.rate-button {
  &__item {
    display: inline-block;
    @extend %mat-icons;
    line-height: 20px;
    @extend %primary-grad;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
