mixin rateButton(checkedNum)
  - var check = checkedNum
  case check
    when 0
      .rate-button&attributes(attributes)
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
    when 1
      .rate-button&attributes(attributes)
        span.rate-button__item star
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
    when 2
      .rate-button&attributes(attributes)
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star_border
        span.rate-button__item star_border
        span.rate-button__item star_border
    when 3
      .rate-button&attributes(attributes)
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star_border
        span.rate-button__item star_border
    when 4
      .rate-button&attributes(attributes)
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star_border
    when 5
      .rate-button&attributes(attributes)
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star
        span.rate-button__item star



