.text-field {
  width: 100%;
  &__label {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &_theme {
      &_subscribe {
        position: relative;
        &::before {
          content: 'arrow_forward';
          width: 41px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          @extend %mat-icons;
          position: absolute;
          right: 0px;
          top: 0px;
          @extend %primary-grad;
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  &__input {
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    width: inherit;
    @extend %body-font;
    padding: 12.2px 15px;
    border: 1px solid $dark-25;
    line-height: 1.286rem;
    color: $dark-25;
    &_theme {
      &_active {
        border: 1px solid $dark-50;
        &::placeholder {
          color: $dark-75;
        }
      }
      &_subscribe {
        padding-right: 44px;
      }
    }

    &:hover {
      border: 1px solid $dark-50;
      &::placeholder {
        color: $dark-75;
      }
    }
    &:focus {
      border: 1px solid $dark-50;
      color: $dark-75;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
    }
  }
}
