.link {
  text-decoration: none;
  @extend %body-font;
  color: $dark-50;
  line-height: 1.214rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &_active {
    font-weight: bold;
    color: $dark-75;
  }

  &__icon {
    @extend %mat-icons;
    color: $dark-50;
    font-size: 1.714rem;
    line-height: 1.429rem;
  }
}
